﻿@model IEnumerable<http5204_aspcore_group5_r2.Models.Feedback>
@{
    ViewBag.Title = "List";

   
}
<div class="page-container">

        <div class="page-banner">
            <div class="title-container">
                <h1>Patient Stories</h1>
                <p>Share your experience, join the community.</p>
            </div>
        </div>


    <div class="margins">
        @Html.ActionLink("Tell Us Your Story", "New")
    </div>

    @foreach (var feedback in Model)

    {

        string id = "";


        //switch publish/unpublish button depending on status
        if (feedback.IsPublished == false)
        {
            <section>
                <div class="col-sm-4" id="cardContainer">
                    <h3 class="card-title">@feedback.FeedbackTitle</h3>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">@feedback.FeedbackDate</h6>
                        <p class="card-text">@feedback.FeedbackMsg</p>
                        <a asp-action="Show" asp-route-id="@feedback.FeedbackID" class="card-link">Read more</a>
                        <i>Unpublished</i>
                    </div>
                </div>
            </section>
        }
        else
        {

            <section>
                <div class="col-sm-4" id="cardContainer">
                    <h3 class="card-title">@feedback.FeedbackTitle</h3>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">@feedback.FeedbackDate</h6>
                        <p class="card-text">@feedback.FeedbackMsg</p>
                        <a asp-action="Show" asp-route-id="@feedback.FeedbackID" class="card-link">Read more</a>
                    </div>
                </div>
            </section>

        }




    }
    <div class="pagination">
        @ViewData["Pagination"]
        @Html.ActionLink("Prev",
              "List",
              "Feedback",
              new { pagenum= ((int) ViewData["pagenum"]-1)}
              )
        |
        @Html.ActionLink("Next",
            "List",
            "Feedback",
            new { pagenum = ((int)ViewData["pagenum"] + 1) }
            )
    </div>

</div>
