﻿@model IEnumerable<http5204_aspcore_group5_r2.Models.Feedback>
@{
    ViewData["Title"] = "New";
}

<div class="page-banner">
    <div class="title-container">
        <h1>Write your Story</h1>
        <p>We want to hear every detail about your experience</p>
    </div>
</div>

    <form method="post" action="/Feedback/Create">

        <input type="hidden" id="FeedbackrAdmin" name="FeedbackAdmin" value="@ViewData["UserHasAdmin"]" />

        <div class="row">
            <div class="col-sm-8">
                <label class="">Heading</label>
                <input id="fbTitle" class="form-control" name="fbTitle" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label class="">Date</label>
                <input type="date" class="form-control" id="fbDate" name="fbDate" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10">
                <label class="">Content</label>
                <textarea id="fbContent" class="form-control" name="fbContent" rows="3"></textarea>
            </div>
        </div>

        <button type="submit" id="newFB" class="btn btn-outline-primary">Submit</button>
    </form>


