﻿@model http5204_aspcore_group5_r2.Models.Feedback

@{
    ViewData["Title"] = "Show";
}
<div class="page-banner">
    <div class="title-container">
        <h1>Patient Stories</h1>
        <p>Share your experience, join the community.</p>
    </div>
</div>

<a class="backBtn" href="@Url.Action("List")">Back to Patient Stories</a>
<h2>@Model.FeedbackTitle</h2>
<h4>@Model.FeedbackDate</h4>

<div id="messageContainer" class="container-fluid">@Model.FeedbackMsg</div>
<div>
    @{
        string id = "";
    }
    @if ((string)ViewData["UserHasAdmin"] == "True")
    {
        //switch publish/unpublish button depending on status
        if (Model.IsPublished == true)

        {
            <div class="form-group">
                <a class="btn btn-warning" href="@Url.Action("Unpublish/" + @Model.FeedbackID)">Unpublish</a>
            </div>
        }
        else
        {

            <div class="form-group">
                <a class="btn btn-primary" href="@Url.Action("Publish/" + @Model.FeedbackID)">Publish</a>
            </div>
        }
        <div class="form-group">
            <a class="btn btn-danger" href="@Url.Action("Delete/" + @Model.FeedbackID)">Delete</a>
        </div>
        id = (string)ViewData["UserHasAdmin"];
    }





</div>

