﻿@model IEnumerable<http5204_aspcore_group5_r2.Models.ProgramServices>
@{
    ViewData["Title"] = "Index";
}
<h2>Program & Services</h2>
<div class="page-wrapper">
    @foreach (var program in Model)
    {
    <div>

        <div class="block">

            @if (!string.IsNullOrEmpty(program.Title))
                {
            <div class="question">
                <label>@Html.ActionLink(program.Title, "UserDetail/" + program.programServiceID)</label>
            </div>
                }
        </div>
    </div>
    }
</div>
<!--Pagination-->
@ViewData["PaginationSummary"]
@Html.ActionLink("Prev",
    "UserIndex",
    "ProgramServices",
    new { pagenum= ((int)ViewData["pagenum"]-1)}
    )
    |
@Html.ActionLink("Next",
    "UserIndex",
    "ProgramServices",
    new { pagenum = ((int)ViewData["pagenum"] + 1) }
    )
