﻿@model http5204_aspcore_group5_r2.Models.ProgramServices

@{
    ViewData["Title"] = "UserDetail";
}

<h2>UserDetail</h2>

<div>
    <h4>ProgramServices</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="UserIndex/pagenum=0">Back to List</a>
</div>
