﻿@model http5204_aspcore_group5_r2.Models.Contact

@{
    ViewBag.Title = "Details";
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<div>
    @{
        switch (ViewData["UserState"])
        {
            case 0: @Url.Action("~/Contact/New") break;
            case 1: @Url.Action("~/Contact/New") break;
        }
    }
</div>
<div>
    <div>
        <h2>@Model.ContactName</h2>
        @Model.ContactPhone @Html.Raw(" | ") (@Model.ContactEmail)
    </div>

    <h3>@Model.ContactReason</h3>

    <p>@Model.ContactMessage</p>
</div>

