﻿@model IEnumerable<http5204_aspcore_group5_r2.Models.Contact>

@{
    ViewData["Title"] = "List";
}

<h2>Request for Contact</h2>

<div>

    @{
        string id = "";
    }
    @if ((string)ViewData["UserHasAdmin"] == "False")
    {

    }
    else if ((string)ViewData["UserHasAdmin"] == "None")
    {

    }
    else
    {
        @Html.ActionLink("View All Contact Requests", "Index")

        id = (string)ViewData["UserHasAdmin"];
    }
</div>
<div>
    @{
        switch (ViewData["UserState"])
        {
            case 0: @Url.Action("~/Contact/New") break;
            case 1: @Url.Action("~/Contact/New") break;
        }
    }
</div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactReason)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactReason)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ContactID })
                    @if (item.AdminID.ToString() == id)
                    {
                        @Html.Raw(" | ")
                        @Html.ActionLink("Delete", "Delete", new { id = item.ContactID })
                    }
                </td>

            </tr>
        }

    </table>
