﻿
@{
    ViewData["Title"] = "Create";
}
<header class="header-link-pages">
    <ol class="breadcrumb">
        Back to
        <li><a href="@Url.Action("List", "Event")">User view</a></li>
        <li><a href="@Url.Action("Show", "Event")">Admin Crud</a></li>
    </ol>
    <!-- defines pages-->

</header>
    <h3 class="center">Add new Events</h3>
    <section class="center-section jumbotron">
        <form method="POST" action="/Event/Create" class="box-decore">
            <div class="form-group">
                <input type="hidden" class="form-control" name="Event_AdminID" value="@ViewData["UserHasAdmin"]" placeholder="Enter Admin id">
            </div>
            <div class="form-group">
                <label for="Event_Name">Event Name</label>
                <input type="text" class="form-control" name="Event_Name" placeholder="Enter name" required>
                <small id="error_message" class="form-text text-muted">Please enter name.</small>
            </div>

            <div class="form-group">
                <label for="Event_Date">Date</label>
                <input type="date" class="form-control" name="Event_Date" placeholder="Enter date" required>
                <small id="error_message" class="form-text text-muted">Select date.</small>
            </div>

            <div class="form-group">
                <label for="Event_Time">Time</label>
                <input type="time" class="form-control" name="Event_Time" placeholder="Enter time" required>
                <small id="error_message" class="form-text text-muted">Select time.</small>
            </div>

            <div class="form-group">
                <label for="Event_Location">Location</label>
                <input type="text" class="form-control" name="Event_Location" placeholder="Enter location" required>
                <small id="error_message" class="form-text text-muted">Enter location.</small>
            </div>

            <div class="form-group">
                <label for="Event_Detail">Details</label>
                <input type="text" class="form-control" name="Event_Detail" placeholder="Enter Details" required>
                <small id="error_message" class="form-text text-muted">Enter details.</small>
            </div>

            <button type="submit" name="Event_Submit" class="btn btn-primary" value="submit">Submit</button>
        </form>
    </section>
