﻿@model http5204_aspcore_group5_r2.Models.Event
@{
    ViewData["Title"] = "Detail";
}
<div class="page-wrapper">
    <!--Links to other pages-->
    <header class="header-link-pages">
        <ol class="breadcrumb">
            Back to
            <li><a href="@Url.Action("List", "Event")">Event</a></li>
            <li><a href="@Url.Action("Show", "Event")">Admin Crud</a></li>
            <li><a href="@Url.Action("Detail", "Event")">Detail</a></li>
        </ol>
        <!-- defines pages-->

    </header>

    <h3 class="center"></h3>

    <section>
        <div class="card bg-dark text-black">

            <img src="~/images/Event/box-image.jpg" class="card-img"/>
            <div class="card-img-overlay">
                <h2 class="card-title">@Model.EventName</h2>
                <p class="card-text">Time of the event is @Model.EventTime.ToLongTimeString().</p>
                <p class="card-text">Event will start at @Model.EventTime.ToLongDateString().</p>
                <p class="card-text">@Model.EventDetail</p>
                <!--<p class="card-text">Last updated 3 mins ago</p>-->
            </div>
        </div>
    </section>
</div>