﻿@model http5204_aspcore_group5_r2.Models.Event
@{
    ViewData["Title"] = "Edit";
}
<div class="page-wrapper">
    <header class="header-link-pages">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("List", "Event")">User view</a></li>
            <li><a href="@Url.Action("Show", "Event")">Admin Crud</a></li>
            <li><a href="@Url.Action("Edit", "Event")">Admin Edit</a></li>
        </ol>
        <!-- defines pages-->

    </header>
    <h3 class="center">Edit event</h3>
    <section class="box-decore">
        <form method="POST" action="/Event/Edit/@Model.EventID">
            <div class="form-group">
                <label for="event_name">Event Name</label>
                <input type="text" class="form-control" name="event_name" value="@Model.EventName">
            </div>

            <div class="form-group">
                <label for="event_date">Date</label>
                <input type="date" class="form-control" name="event_date" value="@Model.EventDate">
            </div>

            <div class="form-group">
                <label for="event_time">Time</label>
                <input type="time" class="form-control" name="event_time" value="@Model.EventTime">
            </div>

            <div class="form-group">
                <label for="event_location">Location</label>
                <input type="text" class="form-control" name="event_location" value="@Model.EventLocation">
                <small id="error_message" class="form-text text-muted">Enter location.</small>
            </div>

            <div class="form-group">
                <label for="event_details">Details</label>
                <input type="text" class="form-control" name="event_details" value="@Model.EventDetail">
                <small id="error_message" class="form-text text-muted">Enter details.</small>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
</div>


