﻿@model IEnumerable<http5204_aspcore_group5_r2.Models.Event>
@{
    ViewData["Title"] = "List";
}
<!-- page wrapper starts here-->
<div class="page-wrapper">
    <header class="crud-link">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("List", "Event")">Event</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("Show", "Event")">Admin Crud</a></li>
            </ol>
        </nav>
    </header>
    
    <main class="event-page-banner">
        <h2 class="center">Explore Upcoming health events</h2>
       
    </main>
 
    <div class="pagination">
        @ViewData["PaginationSummary"]
        @Html.ActionLink("Prev",
            "List",
            "Event",
            new { pagenum= ((int)ViewData["pagenum"]-1)}
            )
        |
        @Html.ActionLink("Next",
            "List",
            "Event",
            new { pagenum = ((int)ViewData["pagenum"] + 1) }
            )
    </div>
    <section>
        <div class="row">
            @foreach (var eve in Model)
            {
                <div class="col-sm-4">
                    <div class="card hover ">
                        <div class="card-body bg-color card-height">
                            <h3 class="card-title"> @eve.EventName.</h3>
                            <h6 class="card-subtitle mb-2 text-muted">Latest event.</h6><br />
                            <p class="card-text"><i class="glyphicon glyphicon-time"></i>&nbsp;@eve.EventTime.ToShortTimeString(). </p>
                            <p class="card-text"><i class="glyphicon glyphicon-calendar"></i>&nbsp;@eve.EventDate.ToShortDateString().</p>
                         
                            <a href="#" class="card-link"> @Html.ActionLink("View Details", "Detail", new { id = eve.EventID })</a>
                            <!--      <a href="#" class="card-link">Another link</a>-->
                        </div>
                    </div>
                </div>
            }
        </div>

        </section>
</div>
<!-- page-wrapper ends here-->


