﻿@model IEnumerable<http5204_aspcore_group5_r2.Models.Event>
@{
    ViewData["Title"] = "Show";
}
<div class="page-wrapper">
    <header class="header-link-pages">
        <ol class="breadcrumb">
            Back to
            <li><a href="@Url.Action("List", "Event")">User view</a></li>
        </ol>
        <!-- defines pages-->

    </header>
    <div class="link">
        <a href="@Url.Action("Create", "Event")">
            <button class="btn btn-info">
                Add
            </button>
        </a>
    </div>

    <!--Section box starts -->
    <section class="box-decore">
        <table class="table  table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"> @Html.DisplayNameFor(model => model.EventName)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.EventDate)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.EventTime)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.EventLocation)</th>
                    <th scope="col">Operations</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var eve in Model)
                {

                    <tr>
                        <th scope="row">1</th>
                        <td>@eve.EventName</td>
                        <td>@eve.EventDate</td>
                        <td>@eve.EventTime</td>
                        <td>@eve.EventLocation</td>
                        <td class="crud">
                            <a href="@Url.Action("Edit", "Event", new { id = eve.EventID })"><i class="glyphicon glyphicon-pencil"></i></a>
                            ||
                            <a class="" href="@Url.Action("Delete", "Event", new { id = eve.EventID })" onclick="return confirm('Are you sure you want to delete?')"><i class="glyphicon glyphicon-trash"></i></a>
                            ||
                            <a href="@Url.Action("Detail", "Event", new {id = eve.EventID})"><i class="glyphicon glyphicon-eye-open"></i></a>
                            <!--<i class="glyphicon glyphicon-pencil"></i>@Html.ActionLink("Edit", "Edit/" + eve.EventID, "Event")-->
                            <!-- <i class="glyphicon glyphicon-trash"></i>@Html.ActionLink("Delete", "Delete", new { id = eve.EventID })-->
                            <!--@Html.ActionLink("View More", "Detail", new { id = eve.EventID })-->
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </section>
    <!--Section box ends -->
</div>