﻿@model http5204_aspcore_group5_r2.Models.Appointments

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button><a href="@Url.Action("Index", "Appointments")">Admin Login</a></button>
<h2>Please make a request here!!</h2>

<div class="page1">
    <img src="~/images/Appointment/appointment.jpg" alt="banner" class="img-responsive" />

</div>
<div class="page2" id="appoint">
    <div class="row">
        <div class="col-lg-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contact" class="control-label"></label>
                    <input asp-for="Contact" class="form-control" />
                    <span asp-validation-for="Contact" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Postal" class="control-label"></label>
                    <input asp-for="Postal" class="form-control" />
                    <span asp-validation-for="Postal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DepartmentName" class="control-label"></label>
                    <select name="DepartmentName" id="DepartmentName" class="form-control">

                        <option value="DIAGNOSTIC">DIAGNOSTIC IMAGING</option>
                        <option value="LAB">LAB</option>
                        <option value="Physiotherapy">PHYSIOTHERAPY</option>
                        <option value="Acute Care">ACUTE CARE</option>
                    </select>
                    <span asp-validation-for="DepartmentName" class="text-danger"></span>
                    @*<label asp-for="amt" class="control-label"></label>
                        <input asp-for="amt" class="form-control" />
                        <span asp-validation-for="amt" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="Pdate" class="control-label"></label>
                    <input asp-for="Pdate" class="form-control" />
                    <span asp-validation-for="Pdate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Communication" class="control-label"></label>
                    <select name="Communication" id="Communication" class="form-control">

                        <option value="email">E-MAIL</option>
                        <option value="phone">PHONE</option>
                    </select>
                    <span asp-validation-for="Communication" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
