﻿@model IEnumerable<http5204_aspcore_group5_r2.Models.Appointments>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<!--Pagination is just before loop(foreach)-->

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pdate)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Ptime)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Communication)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Admin)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
<!-- ======================for pagination===========================-->
        <div class="pagination">
            @ViewData["PaginationSummary"]
            @Html.ActionLink("Prev",
                "Index",
                "Appointments",
                new { pagenum= ((int)ViewData["pagenum"]-1)}
                )
            |
            @Html.ActionLink("Next",
                "Index",
                "Appointments",
                new { pagenum = ((int)ViewData["pagenum"] + 1) }
                )

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Postal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Communication)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AppointmentID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.AppointmentID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.AppointmentID">Delete</a>
                    </td>
                </tr>
             }
        </div>
    </tbody>
</table>
