﻿@model http5204_aspcore_group5_r2.Models.Appointments
@{ 
    ViewData["Title"] = "thanks";
}



<h2>Confirmation Message</h2>

<h3> Thank You <strong> @Model.FirstName @Model.LastName </strong></h3>



