﻿@model IEnumerable<http5204_aspcore_group5_r2.Models.Spiritual>

@{
    ViewData["Title"] = "List";
}

<h2>Spiritual Leaders Affiliated with our Hospital</h2>

<p>Our hospital is committed to the provision of spiritual care. No matter what your faith or community, we will make sure that you and yours are physically and spiritually tended to.</p>

<p>As part of our mission, we have relationships with the following spiritual leaders in our community. If you would like to receive spiritual services from someone else, <b>please let us know and we will get in touch with them!</b></p>

<div>
    @{
        string id = "";
    }
    @if ((string)ViewData["UserHasAdmin"] == "False")
    {

    }
    else if ((string)ViewData["UserHasAdmin"] == "None")
    {

    }
    else
    {
        @Html.ActionLink("Add a New Spiritual Services Contact", "New", "Spiritual")

        id = (string)ViewData["UserHasAdmin"];
    }
</div>
<div>
    @{
        switch (ViewData["UserState"])
        {
            case 0: @Html.ActionLink("Register An Account", "Register", "Account") break;
            case 1: @Html.ActionLink("Create your employee admin account!", "Create", "Admin") break;
        }
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SpiritualTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpiritualFName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpiritualLName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpiritualEstablishment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpiritualDenomination)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SpiritualTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpiritualFName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpiritualLName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpiritualEstablishment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpiritualDenomination)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.SpiritualID })
            @Html.Raw(" | ")
            @Html.ActionLink("Delete", "Delete", new { id = item.SpiritualID })
        </td>

    </tr>
    }

</table>
