﻿
@{
    ViewData["Title"] = "Create";
}
<div class="page-wrapper">
    <header class="header-link-pages">
        <ol class="breadcrumb">
            Back to
            <li><a href="@Url.Action("List", "NewsAndUpdate")">User view</a></li>
            <li><a href="@Url.Action("Show", "NewsAndUpdate")">Admin Crud</a></li>
        </ol>
        <!-- defines pages-->

    </header>
    <h3 class="center">Add new News And Updates</h3>
    <section class="center-section jumbotron">
        <form method="POST" action="/NewsAndUpdate/Create">
            <div class="form-group">
                <input type="hidden" class="form-control" name="NewsUpdate_AdminID" value="@ViewData["UserHasAdmin"]" placeholder="Enter Admin id" >
            </div>
            <div class="form-group">
                <label for="NewsUpdate_Title">Title</label>
                <input type="text" class="form-control" name="NewsUpdate_Title" placeholder="Enter title" required>
                <small id="error_message" class="form-text text-muted">Be sure you have put title.</small>
            </div>
           <!--<div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" name="newsImage"  class="custom-file-input" id="newsImage">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>-->
            <div class="form-group">
                <label for="NewsUpdate_text">Description</label>
                <textarea class="form-control" name="NewsUpdate_text" rows="7" required></textarea>
            </div>
            <button type="submit" id="btn_submit_news" class="btn btn-primary">Submit</button>
        </form>
    </section>
</div>