﻿@model http5204_aspcore_group5_r2.Models.NewsAndUpdate
@{
    ViewData["Title"] = "Detail";
}
<div class="page-wrapper">
    <!--Links to other pages-->
    <header class="header-link-pages">
        <ol class="breadcrumb">
            Back to
            <li><a href="@Url.Action("List", "NewsAndUpdate")">News</a></li>
            <li><a href="@Url.Action("Show", "NewsAndUpdate")">Admin Crud</a></li>
            <li><a href="@Url.Action("Detail", "NewsAndUpdate")">Detail</a></li>
        </ol>
        <!-- defines pages-->

    </header>
    <h3 class="center"></h3>
    <section>


        <div class="card mb-3 width">
            @if (Model.NewsUpdateImage == 1)
            {
                <img src="~/images/News/@(Model.NewsUpdateID).@(Model.ImgType)" class="card-img-top size-image" alt="News Image">
            }
            else
            {
                <span class="text-center">
                    <img src="~/images/News/sick.jpg" alt="News Image" class="card-img-top size-image" />
                </span>
            }
            <div class="card-body">
                <h5 class="card-title">@Model.NewsUpdateTitle</h5>
                <p class="card-text">@Model.NewsUpdateDescription.</p>
                <p class="card-text"><small class="text-muted">  @Html.ActionLink("View Details", "Detail", new { id = Model.NewsUpdateID }).</small></p>
            </div>
        </div>



    </section>