﻿@model http5204_aspcore_group5_r2.Models.NewsAndUpdate
@{
    ViewData["Title"] = "Edit";
}
<div class="page-wrapper">
    <header class="header-link-pages">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("List", "NewsAndUpdate")">User view</a></li>
            <li><a href="@Url.Action("Show", "NewsAndUpdate")">Admin Crud</a></li>
            <li><a href="@Url.Action("Edit", "NewsAndUpdate")">Admin Edit</a></li>
        </ol>
        <!-- defines pages-->

    </header>
    <h3 class="center">Edit news</h3>
    <section class="center-section jumbotron">
        <form method="post" action="/NewsAndUpdate/Edit/@Model.NewsUpdateID" enctype="multipart/form-data">

            <div class="form-group">
                <label for="News_update_title">Title</label>
                <input type="text" class="form-control" name="News_update_title" id="News_update_title" value="@Model.NewsUpdateTitle">
                <small id="error_message" class="form-text text-muted">Be sure you have put title.</small>
            </div>
            <div class="form-group">
                <label>Current Picture:</label>

                @if (Model.NewsUpdateImage == 1)
                {
                   
                    <div  class="text-center">
                        <img src="~/images/News/@(Model.NewsUpdateID).@(Model.ImgType)" class="rounded" alt="defult news Image"  />
                    </div>
                }
                else
                {
                    <span>No Image Uploaded</span>
                }
            </div>
            <div class="form-group">
                <label>Profile Picture:</label>

                <input type="file" name="News_Image" id="News_Image" />

            </div>


            <div class="form-group">
                <label for=" News_description">Description</label>
                <input type="text" class="form-control" name="News_description" id="News_description" value="@Model.NewsUpdateDescription">
            </div>
            <!--<button type="submit" id="btn_submit_news" value="save" class="btn btn-primary">Submit</button>
    -->
            <input type="submit" value="Save" />
        </form>
    </section>






</div>