﻿@model IEnumerable<http5204_aspcore_group5_r2.Models.NewsAndUpdate>
@{
    ViewData["Title"] = "List";
}
<div class="page-wrapper">
    <!--Links to other pages-->
    <header class="crud-link">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("List", "NewsAndUpdate")">News</a></li>
                    <li>Go to<a href="@Url.Action("Show", "NewsAndUpdate")">Admin Crud</a></li>
                </ol>
            </nav>
    </header>
            <!--banner of the page-->
            <div class="news-page-banner">

            </div>
            <!-- defines pages-->
            <div class="pagination">
                @ViewData["PaginationSummary"]
                @Html.ActionLink("Prev",
                    "List",
                    "NewsAndUpdate",
                    new { pagenum= ((int)ViewData["pagenum"]-1)}
                    )
                |
                @Html.ActionLink("Next",
                    "List",
                    "NewsAndUpdate",
                    new { pagenum = ((int)ViewData["pagenum"] + 1) }
                    )
            </div>
        
            <section>
                <div class="card-deck">
                    @foreach (var nu in Model)
                    {
                        <div class="card">

                            @if (nu.NewsUpdateImage == 1)
                            {
                                <img src="~/images/News/@(nu.NewsUpdateID).@(nu.ImgType)" class="card-img-top news-list-image-size" alt="News Image">
                            }
                            else
                            {
                                <span>
                                    <img src="~/images/News/sick.jpg" alt="News Image" class="card-img-top news-list-image-size" />
                                </span>
                            }
                            <div class="card-body">
                                <h5 class="card-title">@nu.NewsUpdateTitle</h5>
                                <p class="card-text">
                                     Coming Soon
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">@Html.ActionLink("View Details", "Detail", new { id = nu.NewsUpdateID }).</small>
                            </div>
                        </div>
                    }
                </div>

            </section>

            </div>
                <!--page wrapper ends-->

