﻿@model IEnumerable<http5204_aspcore_group5_r2.Models.NewsAndUpdate>
@{
    ViewData["Title"] = "Show";
}
<div class="page-wrapper">
    <header class="header-link-pages">
        <ol class="breadcrumb">
            Back to
            <li><a href="@Url.Action("List", "NewsAndUpdate")">User view</a></li>
        </ol>
        <!-- defines pages-->

    </header>
    <div class="link">
        <a href="@Url.Action("Create", "NewsAndUpdate")">
            <button class="btn btn-info">
                Add
            </button>
        </a>
    </div>
    <section class="box-decore">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.NewsUpdateTitle)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.NewsUpdateImage)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.NewsUpdateDescription)</th>
                    <th>CRUD</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var nu in Model)
                {

                    <tr>
                        <th scope="row">1</th>
                        <td>@nu.NewsUpdateTitle</td>
                        <td>@nu.NewsUpdateImage</td>
                        <td>@nu.NewsUpdateDescription</td>
                        <td class="crud">
                            <a href="@Url.Action("Edit", "NewsAndUpdate", new { id = nu.NewsUpdateID })"><i class="glyphicon glyphicon-pencil"></i></a>
                            ||
                            <a class="" href="@Url.Action("Delete", "NewsAndUpdate", new { id = nu.NewsUpdateID })" onclick="return confirm('Are you sure you want to delete?')"><i class="glyphicon glyphicon-trash"></i></a>
                            ||
                            <a href="@Url.Action("Detail", "NewsAndUpdate", new {id = nu.NewsUpdateID})"><i class="glyphicon glyphicon-eye-open"></i></a>

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </section>
</div>