﻿
@{
    ViewData["Title"] = "Create";
}
<header class="header-link-pages">
    <ol class="breadcrumb">
        Back to
        <li><a href="@Url.Action("List", "Emergency")">User view</a></li>
        <li><a href="@Url.Action("Show", "Emergency")">Admin Crud</a></li>
    </ol>
    <!-- defines pages-->

</header>
<h3 class="center">Add new Emergency contact</h3>
<section class="center-section jumbotron">
    <form method="POST" action="/Emergency/Create">

        <div class="form-group">
            <input type="hidden" class="form-control" name="Emergency_AdminID" value="@ViewData["UserHasAdmin"]" placeholder="Enter Admin id">
        </div>
        <div class="form-group">
            <label for="Emergency_Location">Location</label>
            <textarea class="form-control" name="Emergency_Location" rows="3" required></textarea>
        </div>

        <div class="form-group">
            <label for="Emergency_Contact">Contact Number</label>
            <input type="number" class="form-control" name="Emergency_Contact" placeholder="Enter Contact Number" required>
            <small id="error_message" class="form-text text-muted">Enter number</small>
        </div>

        <div class="form-group">
            <label for="Emergency_Email1">Email</label>
            <input type="email" class="form-control" name="Emergency_Email" aria-describedby="emailHelp" placeholder="Enter email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <button type="submit" class="btn btn-primary" name="Emergency_submit">Submit</button>
    </form>
</section>