﻿@model http5204_aspcore_group5_r2.Models.Emergency
@{
    ViewData["Title"] = "Edit";
}

<div class="page-wrapper">
    <header class="header-link-pages">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("List", "Emergency")">User view</a></li>
            <li><a href="@Url.Action("Show", "Emergency")">Admin Crud</a></li>
            <li><a href="@Url.Action("Edit", "Emergency")">Admin Edit</a></li>
        </ol>
        <!-- defines pages-->
   </header>
    <h1 class="center"> Edit Emergency</h1>
    <section class="center-section jumbotron">
        <form method="POST" action="/Emergency/Edit/@Model.EmergencyID">

            <div class="form-group">
                <label for="emergency_location">Location</label>
                <input type="text" class="form-control" name="emergency_location" value="@Model.EmergencyLocation">
                <small id="error_message" class="form-text text-muted">Enter location.</small>
            </div>

            <div class="form-group">
                <label for="emergency_email">Email</label>
                <input type="text" class="form-control" name="emergency_email" value="@Model.EmergencyEmail">
            </div>

            <div class="form-group">
                <label for="emergency_Num">Contact Number</label>
                <input type="number" class="form-control" name="emergency_Num" value="@Model.EmergencyContactNo">
            </div>

            <button type="submit" name="submit_emergency" class="btn btn-primary">Submit</button>
        </form>
    </section>
</div>