﻿@model IEnumerable<http5204_aspcore_group5_r2.Models.Emergency>
@{
    ViewData["Title"] = "List";
}
<div class="page-wrapper">
    <!--Links to other pages-->
    <header class="crud-link">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("List", "Emergency")">Emergency</a></li>
                <li>Go to      <a href="@Url.Action("Show", "Emergency")">Admin Crud</a></li>
            </ol>
        </nav>
    </header>
        
 <!--banner of the page-->
<main class="emergency-page-banner">
<h2 class="center" id="emergency-heading">
     <p><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;&nbsp;Please Call <span>911</span></p>
</h2>
</main>

        <div class="pagination">
            @ViewData["PaginationSummary"]
            @Html.ActionLink("Prev",
                "List",
                "Emergency",
                new { pagenum= ((int)ViewData["pagenum"]-1)}
                )
            |
            @Html.ActionLink("Next",
                "List",
                "Emergency",
                new { pagenum = ((int)ViewData["pagenum"] + 1) }
                )
        </div>




    <div class="row">

        <div class="col-md-7  jumbotron">
            <p>
                Telehealth Ontario is a free,
                confidential telephone service you can
                call to get health advice or general health
                information from a Registered Nurse.
                This means quick, easy access to a qualified
                health professional, who can assess your
                symptoms and help you decide your best first step.
                They will help you decide whether you can take care
                of yourself, need to make an appointment with a physician,
                require the services of a health care clinic or a community
                service, or require treatment at a hospital emergency room.
                <!-- text from nipigon hospital website-->
            </p>
            <div class="Location">
            </div>
        </div>

        <div class="col-md-4">
            @foreach (var emergency in Model)
            {

                <div class="Location jumbotron">
                    <h3><i class="glyphicon glyphicon-map-marker"></i>Location</h3>
                    <div class="address">
                        @emergency.EmergencyLocation
                    </div>
                    <div class="contact">
                        @emergency.EmergencyContactNo
                    </div>
                    <div class="email">
                        @emergency.EmergencyEmail
                    </div>
                </div>
            }
        </div>

    </div>
</div>