﻿@model IEnumerable<http5204_aspcore_group5_r2.Models.Emergency>
@{
    ViewData["Title"] = "Show";
}
@{ //variable declaration id (will put user emergency id into here)
}
<div class="page-wrapper">
    <header class="header-link-pages">
        <ol class="breadcrumb">
            Back to
            <li><a href="@Url.Action("List", "Emergency")">User view</a></li>
        </ol>
        <!-- defines pages-->

    </header>

    <div class="link">
        <a href="@Url.Action("Create", "Emergency")">
            <button class="btn btn-info">
                Add
            </button>
        </a>
    </div>

    <!--Event box starts-->
    <section class="box-decore">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.EmergencyLocation)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.EmergencyContactNo)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.EmergencyEmail)</th>
                    <th>CRUD</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var em in Model)
                {
                    <tr>
                        <td scope="row">@em.EmergencyLocation</td>
                        <td scope="row">@em.EmergencyContactNo</td>
                        <td scope="row">@em.EmergencyEmail</td>
                        <td scope="row" class="crud">
                            <a href="@Url.Action("Edit", "Emergency", new { id = em.EmergencyID })">
                            <i class="glyphicon glyphicon-pencil"></i></a>
                            ||
                            <a class="" href="@Url.Action("Delete", "Emergency", new { id = em.EmergencyID})" onclick="return confirm('Are you sure you want to delete?')"><i class="glyphicon glyphicon-trash"></i></a>

                            <!-- @Html.ActionLink("Edit Emergency!", "Edit/" + em.EmergencyID, "Emergency")
                                |||
                            @Html.ActionLink("Delete Emergency", "Delete", new { id = em.EmergencyID })-->

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section> 
   <!--Section box ends here-->
    </div>
