﻿@model http5204_aspcore_group5_r2.Models.Announcement
@{
    // ViewData["Title"] = "Edit";
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="POST" action="/Announcement/Edit/@Model.AnnouncementID" enctype="multipart/form-data">
    <!--need for image file-->
    <!--Admin ID-->
    <div>
        <input type="hidden" id="AnnouncementAdmin" name="AnnouncementAdmin" value="@Model.AdminID" />
    </div>

    <div>
        <label>Title</label>
        <input id="AnnouncementTitle" name="AnnouncementTitle" value="@Model.AnnouncementTitle" />
    </div>

    <div>
        <div>Description:</div>
        <textarea id="AnnouncementDescription" name="AnnouncementDescription">@Model.AnnouncementDescription</textarea>
    </div>

    <div>
        <div>Announcement Type: <span id="posttype">&nbsp;</span></div>
        <select id="AnnouncementType" name="AnnouncementType" onchange="SelectType(this,'posttype','AnnouncementTitle');">
            @*<option value="news">News</option>
            <option value="alert">Alert</option>
            <option value="media">Media</option>*@

            @{ IDictionary<string, string> announcementarray = new Dictionary<string, string>();
                announcementarray["News"] = "news";
                announcementarray["Alert"] = "e74c3c";
                announcementarray["Media"] = "media";


                foreach (KeyValuePair<string, string> entry in announcementarray)
                {
                    string showing = "";
                    if (entry.Value == Model.AnnouncementType)
                    {
                        showing = "selected";
                    }
                    <option value="@entry.Value" @showing>
                        @entry.Key
                    </option>
                }
            }
        </select>
    </div>

    
    <!-- To display alert in Announcement in Edit View-->
    @*<div class="alert-warning">

        </div>*@



    <div>
        <label>Destination Link:</label>
        <input id="DestinationLink" name="DestinationLink" value="@Model.DestinationLink" />
    </div>





    <!--Christine reference-->
    <div class="form-group">
        <label>Current Picture:</label>
        @if (Model.HasPic == 1)
        {

            <div class="img-container">
                <img src="~/images/Announcement/@(Model.AnnouncementID).@(Model.ImgType)" />
            </div>
        }
        else
        {
            <span>None</span>
        }
    </div>
    <div class="form-group">
        <label>Profile Picture:</label>

        <input type="file" name="announcementimg" id="announcementimg" />

    </div>

    <div>
        <input type="submit" value="Edit" />
    </div>

</form>