﻿@model IEnumerable<http5204_aspcore_group5_r2.Models.Announcement>

@{
    ViewData["Title"] = "List";
}

<h2>Announcements</h2>


@*<div>
    <button>  @Html.ActionLink("Add Announcement", "New", "Announcement")</button>
</div>*@


<!--Admin can Add Announcement-->
<div>

    @{
        /*
        //UserState
            //0 => No User
            //1 => has user has no admin
            //2 => has user has admin but no faqs
            //3 => has user has admin and at least 1 faq(post)
        */

        switch (ViewData["UserState"])
        {
            //case 0: @Html.ActionLink("Sign Up!", "Register", "Account"); break;
            //case 1: @Html.ActionLink("Join Us", "Admin", "Create"); break;
            case 2:<button class="btn btn-primary">
                    @Html.ActionLink("Add Announcement", "New", "Announcement")
                </button>; break;
            case 3: <button class="btn btn-primary">
                    @Html.ActionLink("Add Announcement", "New", "Announcement")
                </button>; break;
        }

    }
</div>

<div>

    <!--Pagination-->
    @ViewData["PaginationSummary"]
    @Html.ActionLink("Prev",
        "List",
        "Announcement",
        new { pagenum= ((int)ViewData["pagenum"]-1)}
        )
    |
    @Html.ActionLink("Next",
        "List",
        "Announcement",
        new { pagenum = ((int)ViewData["pagenum"] + 1) }
        )

    @foreach (var announcement in Model)
    {
        <div class="rectangle_view">

            <div>
                

                <div class="block" style=" background-color: whitesmoke;  font-size: 20px;">

                    @if (!string.IsNullOrEmpty(announcement.AnnouncementTitle))
                    {<!--I made changes bcoz of error which shows Null or Empty Value so, here Reference: https://www.codeproject.com/Questions/1201350/Value-cannot-be-null-or-empty-in-actionlink-->

                        <label>@Html.ActionLink(announcement.AnnouncementTitle, "Show/" + announcement.AnnouncementID)</label>}

                    @*<p>@announcement.AnnouncementDescription</p>
                        <p>@announcement.AnnouncementType</p>*@

                                    @*<span>

                        <button>   @Html.ActionLink("Delete", "Delete/" + announcement.AnnouncementID) </button>

                        </span>*@
                                    @*<div>

                            @Html.ActionLink("Edit", "Edit/" + announcement.AnnouncementID)
                        </div>*@

                    <!--Margi changed for Edit and Delete button FAQ for that Admin on List Page-->
                    @if (announcement.AdminID == (int)ViewData["UserHasAdmin"])
                    {
                        <div class="del">
                            <a href="@Url.Action("Delete" , "Announcement", new { id = announcement.AnnouncementID })"><i class="far fa-trash-alt"></i></a>
                        </div>
                        <div>
                            <a href="@Url.Action("Edit" , "Announcement", new { id = announcement.AnnouncementID })"><i class="far fa-edit"></i></a>
                            @*@Html.ActionLink("Edit", "Edit/" + faq.FAQQuestionID)*@
                        </div>
                    }


                </div>

                <div class="clearfix"></div>
            </div>
        </div>

    }
</div>

