﻿
@{
    ViewData["Title"] = "New";
}

<h2>New</h2>

<form method="POST" action="/Announcement/New">

    <!--Admin ID-->
    <div>
        <input type="hidden" id="AnnouncementAdmin_New" name="AnnouncementAdmin_New" value="@ViewData["UserHasAdmin"]" />
    </div>

    <!-- editor for a true/false value would just be a checkbox. -->
    @*<div>
            <label>Profile Picture:</label>

            <input type="file" name="announcementimg" id="announcementimg" />

        </div>*@

    <!--
    <div class="form-group">
        <label>Current Picture:</label>

    </div>
    <div class="form-group">
        <label>Profile Picture:</label>
        @*<input  type="file" name="pic" accept="images/announcements/" />*@
        <input type="file" name="announcementimg" id="announcementimg" />

    </div>
        -->


    <div>
        <label>Title</label>
        <input id="AnnouncementTitle_New" name="AnnouncementTitle_New" />
    </div>

    <div>
        <div>Description:</div>
        <textarea id="AnnouncementDescription_New" name="AnnouncementDescription_New"></textarea>
    </div>

    <div>
        <div>Announcement Type: <span id="posttype">&nbsp;</span></div>
        <select id="AnnouncementType_New" name="AnnouncementType_New" onchange="SelectType(this,'posttype','AnnouncementTitle_New');">
            <option value="news">News</option>
            @*<option value="e74c3c">Alert</option>*@ <!--value="alert"-->
            <option value="e74c3c">Alert</option>
            <option value="media">Media</option>
        </select>
    </div>

    

    <!-- To display alert in Announcement in Create View when admin select the alert value it will appear as an alert-->
    @*<div>
            <label>Alert</label>
            <select id="AnnouncementType_New" name="AnnouncementType_New">
                @foreach (var announcement in Model)
                {
                    <option value="@announcement.AnnouncementID">@announcement.AnnouncementType</option>
                }
            </select>
        </div>*@


    <div>
        <label>Destination Link:</label>
        <input id="DestinationLink_New" name="DestinationLink_New" />
    </div>

    <div>
        <input type="submit" value="Submit" />
    </div>

</form>