﻿@model http5204_aspcore_group5_r2.Models.Announcement
@{
    //ViewData["Title"] = "Show";
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<!--Alert (if admin user wants to upload any Alert as an Announcement)-->
@*<h2 style="background:#@Model.AnnouncementType; color:white; padding:6px 0; text-align:center;">@Model.AnnouncementTitle</h2>*@
<h2 style="background:#@Model.AnnouncementType; color:white; padding:6px 0; text-align:center;">@Model.AnnouncementTitle</h2>

<!--More functionality-->
@{ //variable declaration id (will put user auth id into here)
    int id = 0;
}
@{
    if ((bool)ViewData["IsUserAnnouncementOwner"])
    {

        <h3>Title: @Model.AnnouncementTitle</h3>

        <p><b>Description:</b> @Model.AnnouncementDescription</p>

        <!--<p>Type: @Model.AnnouncementType</p>-->

        <p><b>Destination URL:</b> @Model.DestinationLink</p>

        <div>
            <p>Image Type: @Model.ImgType</p> 

        </div>

    }

}


<!--
<div class="bannerannouncement">
    <div class="img-container">
        @if (Model.HasPic == 1)
        {
            <div class="img-container">
                <img src="~/images/Announcement/@(Model.AnnouncementID).@(Model.ImgType)" />
            </div>
        }
        else
        {
            <img src="~/images/Announcement/default announcement image.jpg" />
        }

    </div>
    @*<span>

            @Html.ActionLink("Delete", "Delete/" + Model.AnnouncementID)

        </span>
        <div>

            @Html.ActionLink("Edit", "Edit/" + Model.AnnouncementID)
        </div>*@

</div>-->
@*<div>
        <div class="editbtn">

            <button>  @Html.ActionLink("Edit", "Edit/" + Model.AnnouncementID) </button>


        </div>
        <div class="deletebtn">

            <button> @Html.ActionLink("Delete", "Delete/" + Model.AnnouncementID)</button>
        </div>
    </div>*@




<div class="card" style="width: 630px;">
    @*<img class="card-img-top" src="..." alt="Card image cap">*@
    @*<div class="img-container">*@
    @if (Model.HasPic == 1)
    {
        <div class="card-img-top">
            <img src="~/images/Announcement/@(Model.AnnouncementID).@(Model.ImgType)" />
        </div>
    }
    else
    {
        <img src="~/images/Announcement/default announcement image.jpg" class="card-img-top" />
    }

    @*</div>*@

    <div class="card-body">
        <h4 class="card-title">@Model.AnnouncementTitle</h4>
        <p class="card-text">@Model.AnnouncementDescription</p>
        <a href="@Model.DestinationLink" class="btn btn-primary">@Model.DestinationLink</a>
    </div>
</div>



<!--Christine Blog-Show part-->

<div>
    @{ //variable declaration id (will put user auth id into here)
        // int id = 0;
    }
    @{
        if ((bool)ViewData["IsUserAnnouncementOwner"])
        {
            <div class="editbtn">
                <button>  @Html.ActionLink("Edit", "Edit", "Announcement", new { id = Model.AnnouncementID })</button> <!--for edit faq by only faq owner-->
            </div>
            <div class="deletebtn">
                <button>  @Html.ActionLink("Delete", "Delete", "Announcement", new { id = Model.AnnouncementID })</button> <!--for delete faq by only faq owner-->
            </div>
        }

    }

</div>
