﻿/*Feedback List*/
.page-container {
    margin: 0 auto;
    width: 100%;
}

#cardContainer {
    border: 2px solid rgba(0, 76, 140, 0.15);
    border-radius: 10px;
    margin: 10px 10px 20px 10px;
    padding: 0 10px 10px 10px;
    max-width: 300px;
    background-color: rgba(193, 213, 224, 0.10);
}

#cardContainer a {
        margin: 10px 0 0 0;
}

.page-banner {
    clear: both; /*addded by khushboo*/
    border: thin solid gray;
    height: 270px;
    width: 100%;
    /*background-color: rgb(0, 76, 140);*/
    background-image: url('../images/Feedback/mother-baby.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 10px;
    background-position-x: left;
    color: white;
    margin: 0 0 20px 0;
    padding: 20px;
}

.title-container {
    background-color: rgba(18, 17, 17, 0.55);
    border-radius: 10px;
    width: 350px;
    padding: 1px 5px 5px 5px;
}

#messageContainer {
    border: 0.5px solid rgba(18, 17, 17, 0.55);
    border-radius:10px;
    min-height:200px;
    margin:20px 0 30px 0;
    
}

.page-control-j {
    margin-bottom: 100px;
    padding-top: 300px;
}

#newDonation, #newFB, #newCareer, #editCareer {
    margin: 10px 0 10px 0;
}
