﻿body{}
.curd-link-box{
    width:100%;
   background-color:lightgrey;
}
/*********************************For emergency event and news****************/
.page-wrapper {
    width: 100%;
    transition: 0.5s;
}*/
.event-page-banner {
    clear: both;
    /*  opacity: 0.5;
    filter: alpha(opacity=50);*/
    display: block;
    height: 450px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: repeat;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
    /*
    -webkit-user-select: none;
  */
    overflow: hidden;
    animation: ImageAnimation 10s infinite;
}

@keyframes ImageAnimation {
    0% {
      /*  transform: scale(1);*/
        background-size: cover;
        background-image: url('../images/event/yoga1.jpg');
    }

    25% {
        /*  transform: scale(1);*/
        background-size: cover;
        background-image: url('../images/event/hand.jpg');
    }
    50% {
        /*  transform: scale(1);*/
        background-size: cover;
        background-image: url('../images/event/yoga.jpg');
    }
    75% {
        /*  transform: scale(1);*/
        background-size: cover;
        background-image: url('../images/event/water.jpg');
    }

    100% {
        background-size: cover;
        background-image: url('../images/event/box-image.jpg');
    }
}
/*.event-page-banner:hover{
    clear: both;
    background-image: url('../images/Event/Event-Banner.jpg');
    /*  opacity: 0.5;
    filter: alpha(opacity=50);*/
/*background-attachment: fixed;
    background-size: cover;
    display: block;
    height: 350px;
    width: 100%;*/

}
*/
.event-page-banner h2 {
    background: rgba(0,0,0,0.5);
    display: inline-block;
    color: #fff;
    padding: 10px 30px;
    text-align: center;
}

.crud a:nth-child(2):hover {
    color: red;
}

.crud a:nth-child(3):hover {
    color: darkblue;
}
/* to make a box */
.box-decore {
    margin-top: 1%;
    margin-bottom: 2%;
    color: #444;
    background: #f5f5f5;
    display: block;
    padding: 20px;
    /*border-radius: 3px;*/
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    margin-left: 1%;
    width: 100%;
}

/******************************only for event***********************/
.banner-event {
    background-image: url('../images/event/event.png');
    background-attachment: fixed;
    background-size: cover;
    display: block;
    height: 350px;
    width: 100%;
}

#emergency-heading {
 
    background: rgba(0,0,0,0.5);
    display: inline-block;
    color: #fff;
    padding: 10px 30px;
    text-align: center;
}
/************News Update*****************/
.width{
    width:60%;
    margin:0 auto;
}
.size-image{
    height:300px;
    width:100%;
}
.news-list-image-size{
    height:350px;
}
.rounded{
    height:200px;
    width:200px;
}