﻿body {
}

.contentwidth{

    max-width:1280px;
    width:80%;
    margin: 0 auto;
}

.block {
    border: 1px solid darkgrey;
    width:90%;
    margin: 0 auto;
    margin-top:10px;
    margin-bottom:10px;

}

.page-wrapper{
    margin:10px 10px;
}

.title {
    padding: 7px 15px;
    background-color: gainsboro;
    font-size: 20px;
}

.body-content {
    padding: 10px;
    background-color: whitesmoke;
}

.addbtn {
    margin: 5px 10px;
}

.editbtn {
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.deletebtn {
    margin: 5px;
    
}

/*for add edit and delete button in faq*/
.btn a{
    text-decoration:none;
    color:white;
   
}
.btn a:hover{
        text-decoration:none;
        color:white;
}

/*Visitor Information*/








/*Announcement*/
.img-container{
    height:500px;
    width:500px;
}

/*.bannerannouncement {
    width:200px;
    height:auto;
}*/

.alert-warning{
    height:20px;
    width:100px;
    background-color:red;
}