﻿body {
}
.page1 img{
   
    border-radius: 10px;
}
.page1 {
    width:50%;
    float: left;
    clear:both;  
}
.page2 {
    width: 50%;
    float: right;
    margin-top: -13em;
    padding: 0px;
    margin-right: 100px;
    clear: both;
}
.form-control{
    width:25em;
}
.control-label{
    text-align:right;
}
#gift{
    height:12em;
    width:35em;
}
#appoint {
    float: right;
    margin-top: -17em;
    padding: 20px;
    margin-left:100px;
    margin-right:-100px;
    clear: both;
}


@media screen and (max-width: 991px) {
    body {
    }
    .page1{
        float:left;
        width:50%;
    }
    .page1 img {
        height: 23em;
        width: 100%;
        border-radius: 10px;
    }
    .page2, row {
        float: right;
        width: 50%; 
        padding: 10px;
        margin-left: 0px;
    }
    #appoint {
        float: right;
        margin-top: -13em;
        padding: 20px;
        margin: -70px;
        clear: both;
    }

}   



    @media screen and (max-width: 479px) {

        body {
            width:100%;
        }

        button {
            display: none;
        }

        .page1 {
            display: none;
        }

        h2 {
            font-size: 20px;
            font-family: bold, 'Arial Rounded MT';
            margin-top:-30px;
        }

        .page2, .row {
            width: 100%;
            padding: 10px;
           text-align: center;
        }
        #appoint {
            margin-top: -2em;
            padding: 50px;
            margin-left: -300px;
            font-size: 16px;
            clear: both;       
           
        }
    }
