﻿body {font-family: 'Open Sans', sans-serif;}
.contentwidth{
    max-width:1280px;
    width:95%;
    margin:0 auto;
}
.page-wrapper {
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    clear:both;
}
/** Use this class to your tags to leave spaces to left and right side of page*/

.bg-primary-blue {
    background-color: #0277bc;
    /*background-color:#2B87E4; #3B94ED;rgb(2,119,188,0.46);*/
}

.bg-primary-dark {background-color: #004c8c;}

.center{ text-align:center;}

.text-bold{font-weight:bold;}
.donate {
    padding: 15px;
    font-size: 24px;
}
/**************  header **************/
.navigation-header {
    width: 100%;
}

.nav-top {
    float: right;
    clear: both;
    width: 100%;
}

.top-link {
}

.top-link li {list-style-type: none;float: left;}
       
.logo-image {width: 57%;float: left; margin-right:3%;}
 .logo-image img {height: 130px;width: 130px;}
.login-media-hide{display:none;}
.login {width: 9%;float: right; margin-left:1%;}
.login span{font-size:2vw;}
.menu-hamburger{margin-top:20%;}
.donate-search {width: 29%;margin-left: 1%;}
.donate-search-media-hide, .media-hide-h1 {
    display: none;
}
.btn-donate{margin-top:10%;}
.color-hamburger { color:  #004c8c;}

/**************  Navigation  **************/
.nav-menu {
    float: right;
    clear: both;
    width: 100%;
}
.nav-links {
}
.nav-links li {
    list-style-type: none;
    float: left;
    padding:10px;
    font-size:20px;
        
}
.nav-links li:after{
    content: " |";
    color:white;
    padding-left:10px;        
}
.nav-links a{color:white;text-decoration:none;}
/*buttons in nav*/
.btn-btn-nav {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    padding: 14px 16px;
    font-family: inherit;
    margin: 0;
}
    .btn-btn-nav:hover, .btn-btn-nav:focus {
        cursor: pointer;
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: #004c8c;
        color: #60b0f4;
        font-family: inherit;
        margin: 0;
    }

/**Drop down** REF = W3School**/
.dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropbtn:hover, .dropbtn:focus {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #004c8c; 
    color: #60b0f4;
    font-family: inherit;
    margin: 0;
}

.dropdown {position: relative;display: inline-block;}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: scroll;
}
.hover-color a:hover{background-color: #004c8c;}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
/**************  Main **************/
.main {clear:both;width: 100%;
}
/**************  Image silder  **************/
.image-slider {width: 50%;float: left;}
/**************  Doctors ,app booking, gift, faq  **************/
.easy-link {
    width: 50%;
    float: right;
    /*background-image: url('../images/siteimages/slider1.jpg');*/
}
.easy-link-container {
    width: 100%;
}

.doctors, .book-app, .gift, .faq {
    width: 49.9%;
   margin-bottom: 0.2%;
    padding: 5.4%;
}
.doctors,.gift {
    float: left;
 }
.book-app, .faq {
    float: right;
}
.center a{ text-decoration: none; color: white;}
.doctors:hover, .book-app:hover, .gift:hover, .faq:hover {
    box-shadow: 28px 28px 28px rgba(0,0,0,0.25), 18px 18px 18px rgba(0,0,0,0.22);
}
.center:hover{text-decoration: none;color: black;}
/************** News and update box **************/
.news-event-box {
    margin:2%;
    width: 96%;
    clear: both
}

/**************  News box  **************/
.news-box {width: 48%;float: left;}
.news-container {width: 100%;}
.news-image{width:50%;float:left;}
.news-image img {
    padding:2%;

}
/**************  Event box  **************/
.event-box {width:48%;float: right;}
.event-text {width: 100%;}
/************** Paitent Story **************/
.patients-story {
    clear: both;
    background-image: url('../images/siteimages/story.jpg');
    /*  opacity: 0.5;
    filter: alpha(opacity=50);*/
    background-attachment: fixed;
    background-size: cover;
    display: block;
    height: 300px;
    width: 100%;
    position:relative;
}
.patients-story h2 {
    font-size: 40px;
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: #FFFFFF;
    background: #FFFFFF;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px black;
    color: #FFFFFF;
    background: rgb(255, 255, 255,0.45);
}
    .patients-story h2:hover {
        color: #0277bc;
        font-size:50px;
       
        
    }
.footer {clear: both;width: 100%;}
.size {font-size: 30px;}
.fb:hover {color: #3b5998;}
.insta:hover {color: #8a3ab9;}
.you-tube:hover {color: #FF0000;}
.social-media {
    clear:both;
    text-align: center;
    word-spacing: 20px;
    background-color: #c1d5e0;
    padding:10px;
}
.hospital-logo{
    clear:both;margin:0 auto;}
.hospital-logo img{height:130px;width:130px;}
.container{clear:both;margin-top:2%;}
.bottom-black{background-color:black;padding:20px;}
/*************** Responsive **************/
/*@media screen and (max-width:1230px) {

    .doctors, .book-app, .gift, .faq {
        padding: 6.9%;
    }

}
@media screen and (max-width:1188px) {
    .doctors, .book-app, .gift, .faq {
        padding: 6.6%;
    }
}
@media screen and (max-width:1157px){
    .doctors, .book-app, .gift, .faq {
        padding: 6.5%;
    }
}
@media screen and (max-width:1100px) {
    .doctors, .book-app, .gift, .faq {
        padding: 5.9%;
    }
}
@media screen and (max-width:1050px) {
    .doctors, .book-app, .gift, .faq {
        padding: 5.6%;
    }
}
@media screen and (max-width:988px) {

    .doctors, .book-app, .gift, .faq {
        padding: 6.4%;
    }
}
@media screen and (max-width:900px) {

    .doctors, .book-app, .gift, .faq {
        padding: 3.9%;
    }
}
@media screen and (max-width:861px) {

    .doctors, .book-app, .gift, .faq {
        padding: 3.3%;
    }
}*/
@media screen and (max-width:800px) {
    
    .navigation-header {width: 100%;}
   
    .logo-image img{ height:80px;width:80px;}

    .donate-search-media-hide, .media-hide-h1,.login-media-hide {
        display: block;
    }
    .donate-search-media-hide, .login-media-hide {
        margin-top: 1.5%;
        margin-bottom: 1.5%;
        margin-right:1%;
        margin-left:1%;
    }
    .media-hide-h1 {
        font-size: 24px;
        float: right;
        text-align: center;
        color: #004c8c;
    }
    .main {
        clear: both;
        width: 100%;
    }
    /************** Image slider,Links, .easy-link-container  **************/
    .image-slider, .easy-link, .easy-link-container, .news-box, .news-container,  .event-box {
        width: 100%;
    }
    .doctors, .gift {
        width: 49.9%;
        float: left;
    }
    .book-app, .faq {
        width: 49.9%;
        float: right;
    }
    .col-link {
    }
    .media-center{
        text-align:center;
    }
   
    .news-event-box {
        margin-left: 4vw;
        width: 100%;
    }
    .news-image {
        float:left;
        width:50%;
    }
        .news-image img {
            padding: 1%;
        }
    .container, .event-box, .nav-links, .login, .donate-search,.hide-button {
        display: none;
    }
}
