﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Silent Hill Memorial Hospital</title>

    <environment include="Development">

        <!--Boot strap link-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!--fab fa font awesome link-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <!-- bootstrap lib link-->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <!-- google fonts-->
        <link href="https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Open+Sans " rel="stylesheet">
        <!--- Developers CSS-->
        <!-- <link rel="stylesheet" href="~/css/site.css" />-->
        <link rel="stylesheet" href="~/css/delan.css?ver=@{ @DateTime.Now.ToString("fff");}" /><!--Added to solve the problem of renaming the files everytime we make changes  -->
        <link rel="stylesheet" href="~/css/website.css?ver=@{ @DateTime.Now.ToString("fff");}" /><!--Added to solve the problem of renaming the files everytime we make changes  -->
        <link rel="stylesheet" href="~/css/khushboo.css?ver=@{ @DateTime.Now.ToString("fff");}" /><!--Added to solve the problem of renaming the files everytime we make changes  -->
        <link rel="stylesheet" href="~/css/margistyle.css?ver=@{ @DateTime.Now.ToString("fff");}" /><!--Added to solve the problem of renaming the files everytime we make changes  -->
        <link rel="stylesheet" href="~/css/Justin.css?ver=@{ @DateTime.Now.ToString("fff");}" /><!--Added to solve the problem of renaming the files everytime we make changes  -->
        <link rel="stylesheet" href="~/css/tarun1.css?ver=@{ @DateTime.Now.ToString("fff");}" /><!--Added to solve the problem of renaming the files everytime we make changes  -->
    </environment>
    <environment exclude="Development">
        <!-- <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
           asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
           asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />-->


        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    </environment>
</head>
<body>
    <header class="navigation-header">
        <nav class="nav-top">
            <ul class="top-link">
                <li class="logo-image">
                    <div>
                        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/siteImages/final.png" class="img-fluid" alt="logo SDM hospital" /></a>
                        <h1 class="media-hide-h1">Silent Hill Memorial Hospial</h1>
                    </div>
                </li>
                <li class="donate-search-media-hide">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <!--<button class="btn" my-2 my-sm-0" type="submit">Search</button>-->
                    </form>
                    <div class="btn-donate">
                        <a asp-area="" asp-controller="Donations" asp-action="List">
                            <button type="button" class="btn btn-primary btn-lg btn-block hide-button">Donate</button>
                        </a>
                </li>
                <li class="login-media-hide">
                    <div class="menu-hamburger"></div>
                    <button class="navbar-toggler toggler-example " type="button">
                        <span class="dark-blue-text">
                            <i class="fas fa-bars fa-3x color-hamburger"></i>
                        </span>
                    </button>
                </li>
                <li class="login">
                    <span>  @await Html.PartialAsync("_LoginPartial")</span>
                    <div class="menu-hamburger"></div>
                    <button class="navbar-toggler toggler-example" type="button">
                        <span class="dark-blue-text">
                            <i class="fas fa-bars fa-1x color-hamburger"></i>
                        </span>
                    </button>
                </li>
                <li class="donate-search">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <!--<button class="btn" my-2 my-sm-0" type="submit">Search</button>-->
                    </form>
                    <div class="btn-donate">
                        <a asp-area="" asp-controller="Donations" asp-action="List">
                            <button type="button" class="btn btn-primary btn-lg btn-block">Donate</button>
                        </a>

                    </div>
                </li>
            </ul>
        </nav>
        <nav class="nav-menu  bg-primary-dark">
            <ul class="nav-links">
                <li>
                    <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn">

                            Patients & Visitors

                            <i class="fa fa-caret-down"></i>
                        </button>

                        <div id="myDropdown" class="dropdown-content">
                            <a asp-area="" asp-controller="" asp-action="">Instruction</a>
                            <a asp-area="" asp-controller="" asp-action="">Infection Prevention and Control</a>
                            <a asp-area="" asp-controller="Appointments" asp-action="Create">Request an Appointment</a>
                            <a asp-area="" asp-controller="VisitorInformation" asp-action="List">Visiting Hours</a>
                            <a asp-area="" asp-controller="" asp-action="">Directions & Parking</a>
                        </div>
                    </div>
                </li>
                <li class="text-bold">
                   
                        <button class="btn-btn-nav">
                            <a asp-area="" asp-controller="ProgramServices" asp-action="UserIndex">Program & Services</a>
                        </button>
                  
                   
                    @*<div class="dropdown">
            <button onclick="myFunction2()" class="dropbtn">

                    Program & Servcies

                <i class="fa fa-caret-down"></i>
            </button>

            <div id="myDropdown2" class="dropdown-content">
                <a asp-area="" asp-controller="" asp-action="">Information By Department</a>
                <a asp-area="" asp-controller="" asp-action="">Find a Doctor</a>
                <a asp-area="" asp-controller="" asp-action="">Organ Donation</a>
                <a asp-area="" asp-controller="Spiritual" asp-action="List">Spiritual Services</a>
            </div>
        </div>*@
                </li>
                <li>
                    <a asp-area="" asp-controller="Careers" asp-action="List">
                        <button class="btn-btn-nav">
                            <a asp-area="" asp-controller="Careers" asp-action="List">Careers</a>
                        </button>
                    </a>
                </li>
                <!--  <li>
        <button class="btn-btn-nav">
            <a asp-area="" asp-controller="" asp-action="">Patients & Visitors</a>
        </button>
    </li>-->
                <li>
                    <div class="dropdown">
                        <p onclick="myFunction3()" class="dropbtn">

                            About Us

                            <i class="fa fa-caret-down"></i>
                        </p>

                        <div id="myDropdown3" class="dropdown-content">
                            <a asp-area="" asp-controller="" asp-action="">Board of directors</a>
                            <a asp-area="" asp-controller="" asp-action="">History</a>
                            <a asp-area="" asp-controller="Contact" asp-action="New">Contact</a>
                            <a asp-area="" asp-controller="" asp-action="">Accessibility</a>
                            <a asp-area="" asp-controller="" asp-action="">Commitment to Privacy</a>
                            <a asp-area="" asp-controller="" asp-action="">Public Reporting</a>
                            <a asp-area="" asp-controller="" asp-action="">Accountability & Transparency</a>
                            <a asp-area="" asp-controller="FAQ" asp-action="List">FAQ</a>
                            <a asp-area="" asp-controller="Feedback" asp-action="List">Testimonials</a>
                            <a asp-area="" asp-controller="NewsAndUpdate" asp-action="List">News and Update</a>
                        </div>
                    </div>
                </li>
                <li class="text-bold">
                    <a asp-area="" asp-controller="Emergency" asp-action="List">
                        <button class="btn-btn-nav">
                            Emergency
                        </button>
                    </a>
                </li>
                <li class="text-bold">
                    <a asp-area="" asp-controller="Spiritual" asp-action="List">
                        <button class="btn-btn-nav">
                            Spiritual Services
                        </button>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">
             <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
                 <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Home</a>
             </div>
             <div class="navbar-collapse collapse">
                 <ul class="nav navbar-nav">
                     @*  <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                         <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                         <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>*@
                     <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Us</a>
                         <div class="dropdown-menu">
                             <a asp-area="" asp-controller="Event" class="dropdown-item" asp-action="List">Events</a> <br />
                             <a asp-area="" asp-controller="ProgramServices" class="dropdown-item" asp-action="Index">Programs & Services</a> <br />
                             <a asp-area="" asp-controller="NewsAndUpdate" class="dropdown-item" asp-action="List">News & Updates</a> <br />
                             <a asp-area="" asp-controller="Spiritual" class="dropdown-item" asp-action="List">Spiritual Services</a> <br />
                             <a asp-area="" asp-controller="Contact" class="dropdown-item" asp-action="List">Contact Us</a> <br />
                         </div>
                     </li>
                     <li><a asp-area="" asp-controller="Feedback" asp-action="List">Feedback</a></li>
                     <li><a asp-area="" asp-controller="Donations" asp-action="List">Donations</a></li>
                     <li><a asp-area="" asp-controller="Careers" asp-action="List">Careers</a></li>
                     <li><a asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a></li>
                     <li><a asp-area="" asp-controller="Home" asp-action="VisitorInformation">Visitors</a></li>
                     <li><a asp-area="" asp-controller="Home" asp-action="Announcements">Alert</a></li>
                     <li><a asp-area="" asp-controller="Emergency" asp-action="List">Emergency</a></li>
                     <li><a asp-area="" asp-controller="Appointments" asp-action="Create">Appt.</a></li>
                     <li><a asp-area="" asp-controller="SendGifts" asp-action="Create">Gift</a></li>

                 </ul>
                 @await Html.PartialAsync("_LoginPartial")
             </div>
         </div>
     </nav>-->
    <div @{ 
        string css = " ";
        if (ViewData["HomePage"] == null)
        {
           css = "contentwidth"; } } 
           class="@{@(css)}  ">
           
        
        @RenderBody()
    </div>
        <footer>
            <div class="social-media">
                <i class="fab fa-facebook size fb"></i>
                <i class="fab fa-instagram size insta"></i>
                <i class="fab fa-youtube size you-tube"></i>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="Donate-button">
                            <a asp-area="" asp-controller="Donations" asp-action="New">
                                <input class="btn btn-primary" type="button" value="Donate">
                            </a>
                        </div>
                        <div class="hospital-logo">
                            <a asp-area="" asp-controller="Home" asp-action="Index"> <img class="img-fluid" src="~/images/siteImages/final.png" alt="Site Logo SHM hospital" /> </a>
                        </div>
                        <a asp-area="" class="btn btn-primary" asp-controller="Admin" asp-action="List">Staff Login</a>
                    </div>
                    <div class="col-md-auto">
                        <ul>
                            <li><a asp-area="" asp-controller="" asp-action="">Patient and Visitors</a></li>
                            <li><a asp-area="" asp-controller="ProgramServices" asp-action="UserIndex">Program & Services</a></li>
                            <li><a asp-area="" asp-controller="Careers" asp-action="List">Careers & Volunteering</a></li>
                            <li><a asp-area="" asp-controller="" asp-action="">About Us</a></li>
                            <li><a asp-area="" asp-controller="Emergency" asp-action="List">Emergency</a></li>
                        </ul>
                    </div>
                    <div class="col col-lg-2">
                        <ul>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                            <li><a asp-area="" asp-controller="FAQ" asp-action="List">FAQ</a></li>
                            <li><a asp-area="" asp-controller="Announcement" asp-action="List">Announcement</a></li>
                            <li><a asp-area="" asp-controller="NewsAndUpdate" asp-action="List">News</a></li>
                            <li><a asp-area="" asp-controller="Event" asp-action="List">Event</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="bottom-black">

            </div>
        </footer>


        <environment include="Development">
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="~/js/dropdown-list.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <!-- <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>-->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
            <script src="~/js/dropdown-list.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
</body>
</html>
