﻿
@{
    ViewData["Title"] = "dummyyyy";
}

<h2>dummyyyy</h2>

@{
    ViewData["Title"] = "Home";
}
<main class="main">
    <div class="container image-slider">
        <div class="row">
            <div class="col">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/siteImages/2.jpg" class="d-block w-100" alt="hospital image" />
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/siteImages/2.jpg" class="d-block w-100" alt="hosital view">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/siteImages/2.jpg" class="d-block w-100" alt="hospital image">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col bg-primary-blue">
                <div class="row">
                    <div class="col-sm-6 image-size">
                        <img src="~/images/siteImages/doc.png" alt="find a doctor" />
                    </div>
                    <div class="col-sm-6 image-size">
                        <img src="~/images/siteImages/appo1.png" alt="appoitment booking" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 image-size">
                        <img src="~/images/siteImages/gift.png" alt="Gift" />
                    </div>
                    <div class="col-sm-6 image-size">
                        <img src="~/images/siteImages/faq1.png" alt="FAQ" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<section class="news-box">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h2>News</h2>
                <div class="card-deck">
                    <div class="card">
                        <img src="~/images/News/sick.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                    <div class="card">
                        <img src="~/images/News/sick.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <h2>Events</h2>
                <ul>
                    <li>Upcoming event</li>
                    <li>Upcoming event</li>
                    <li>Upcoming event</li>
                    <li>Upcoming event</li>
                    <li>Upcoming event</li>
                    <li>Upcoming event</li>
                </ul>
            </div>

        </div>
    </div>
</section>
<div class="patients-story">
    <h2>  Patient Story </h2>
</div>
