﻿@model http5204_aspcore_group5_r2.Models.NewsAndUpdate
@{
    ViewData["Title"] = "Home";
}
<!-- page -wrapper starts here-->
<div class="page-wrapper">
    <!-- main starts here-->
    <main class="main">
        <div class="image-slider">
            <!--image slider starts here-->
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/siteImages/womeneye.jpg" class="d-block w-100" alt="hospital image" />
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/siteImages/stethoscopeBW.jpg" class="d-block w-100" alt="hosital view">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/siteImages/holdinghand.jpg" class="d-block w-100" alt="hospital image">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- image silder ends here-->
        </div>
        <div class="easy-link">
            <div classs="easy-link-container">
                <div class="col-link">
                    <div class="doctors  bg-primary-blue center ">
                        <a asp-area="" asp-controller="" asp-action="" style="color:black;">
                         <i class="fas fa-user fa-3x "></i>
                            </a>
                        <h4 class="center">
                            <a asp-area="" asp-controller="" asp-action="">Doctors</a>
                        </h4>
                    </div>
                    <div class="book-app  bg-primary-blue center">
                        <a asp-area="" asp-controller="Appointments" asp-action="Create" style="color:black;">
                            <i class="far fa-calendar-check center fa-3x"></i>
                        </a>
                            <h4 class="center">
                                <a asp-area="" asp-controller="Appointments" asp-action="Create">Request An Appointment</a>
                            </h4>
                    </div>
                </div>

                <div class="col-link">
                    <div class="gift  bg-primary-blue center">
                        <a asp-area="" asp-controller="SendGifts" asp-action="Create" style="color:black;">
                            <i class="fas fa-gift fa-3x"></i>
                        </a>
                            <h4 class="center">
                                <a asp-area="" asp-controller="SendGifts" asp-action="Create">Gift</a>
                            </h4>
                    </div>
                    <div class="faq  bg-primary-blue center">
                        <a asp-area="" asp-controller="FAQ" asp-action="List" style="color:black;">
                            <i class="fas fa-question fa-3x"></i>
                        </a>
                            <h4 class="center">
                                <a asp-area="" asp-controller="FAQ" asp-action="List">FAQ</a>
                            </h4>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- main ends here-->
    <!-- News and event section-->
    <section class="news-event-box">
        <div class="news-box">
            <a asp-area="" asp-controller="NewsAndUpdate" asp-action="List">
                <h2 class="media-center">News</h2>
            </a>
            <div class="news-container">
                <div class="news-image">
                    <img src="~/images/News/abdominal-pain-2493327_1280.jpg" class="img-responsive"/>
                    
                    <div class="title-news">
                        <h4 class="center">New Title</h4>
                    </div>
                </div>
                <div class="news-image">
                   <img src="~/images/News/water1.jpg" class="img-responsive" />
                </div>
                    <div class="title-news">
                        <h4 class="center">News Title</h4>
                    </div>
                </div>
        </div>
</div>

        <div class="event-box">
            <a asp-area="" asp-controller="Event" asp-action="List">
                <h2>Event</h2>
            </a>
            <div class="event-container">
                <p class="event-text">
                    Contrary to popular belief, Lorem Ipsum is not simply random text.
                    It has roots in a piece of classical Latin literature from 45 BC,
                    making it over 2000 years old. Richard McClintock,
                    a Latin professor at Hampden-Sydney College in Virginia, looked up one
                    of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,
                    and going through the cites of the word in classical literature,
                    discovered the undoubtable source. Lorem Ipsum comes from sections
                    1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil)
                    by Cicero, written in 45 BC. This book is a treatise on the theory of ethics,
                    very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor
                    sit amet..", comes from a line in section 1.10.32.

                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below
                    for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et
                    Malorum" by Cicero are also reproduced in their exact original form, accompanied by
                    English versions from the 1914 translation by H. Rackham.
                </p>
            </div>
        </div>
    </section>
    <!-- News and event section-->
                    <div class="patients-story">
                        <a asp-area="" asp-controller="Feedback" asp-action="List">  <h2>  Patient Story </h2></a>
                    </div>
                </div>
<!-- page-wrapper ends here-->