﻿@model http5204_aspcore_group5_r2.Models.VisitorInformation
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form method="POST" action="/VisitorInformation/Edit/@Model.VisitorID">
    <!-- Foreign Key for Admin-->
    <div>
        <input type="hidden" id="VisitorInfoAdmin" name="VisitorInfoAdmin" value="@Model.AdminID" />
    </div>

    <!--Visitor Name-->
    <div>
        <label>Visitor Name:</label>
        <input type="text" value="@Model.VisitorName" id="VisitorName" name="VisitorName" />
    </div>

    <!--Visiting Person Name-->
    <div>
        <label>Visiting PersonName:</label>
        <input type="text" value="@Model.VisitingPersonName" id="VisitingPersonName" name="VisitingPersonName" />
    </div>

    <!--Date-->
    <div>
        <label>Date:</label>
        <input type="datetime" value="@Model.Date.ToShortDateString()" id="Date" name="Date" />
    </div>

    <!--Time In-->
    <div>
        <label>Time In:</label>
        <input type="datetime" value="@Model.TimeIn.ToShortTimeString()" id="TimeIn" name="TimeIn" />
    </div>

    <!--TimeOut Only in Edit View of Visitor Information-->
    <div>
        <label>TimeOut:</label>
        <input type="time" value="@Convert.ToDateTime(Model.TimeOut).ToShortTimeString()" id="TimeOut" name="TimeOut" />
    </div>

    <!--Submit Button-->
    <div>
        <input type="submit" value="Submit" />
    </div>

</form>