﻿@model IEnumerable<http5204_aspcore_group5_r2.Models.VisitorInformation>
@{
    ViewData["Title"] = "List";
}

<h2>Visitor Informations</h2>


<div class="page-wrapper">

    @{
        /*
        //UserState
            //0 => No User
            //1 => has user has no admin
            //2 => has user has admin but no visitor info
            //3 => has user has admin and at least 1 visitor info(post)
        */

        switch (ViewData["UserState"])
        {
            case 0:
                <div>
                <h3>Directions, Parking and Visiting Hours</h3>
                <p>Silent Hill Memorial Hospital is located in downtown Toronto just north of College Street and University Avenue.</p>
                <img src="~/images/siteImages/DirectionMapImage-VisitorInformation.jpg" alt="Map" style="width:400px;height:auto;" />

                <p>Visitig Hours</p>
                <p>
                    Family: 24 hours a day* <br />
                    Visitors: 10:00 a.m. – 9:00 p.m.
                </p>
                </div>

                break;


                case 1:
                <div>
                <h3>Directions, Parking and Visiting Hours</h3>
                <p>Silent Hill Memorial Hospital is located in downtown Toronto just north of College Street and University Avenue.</p>
                <img src="~/images/siteImages/DirectionMapImage-VisitorInformation.jpg" alt="Map" style="width:400px;height:auto;" />

                <p>Visitig Hours</p>
                <p>
                    Family: 24 hours a day* <br />
                    Visitors: 10:00 a.m. – 9:00 p.m.
                </p>
                </div>
                break;
        }
        }
  </div>


@*<div class="addbtn">
    <button>@Html.ActionLink("Add Visior Information", "New", "VisitorInformation")</button>
</div>*@

<div class="page-wrapper">

    <!--Pagination-->
    @*@ViewData["PaginationSummary"]
        @Html.ActionLink("Prev",
            "List",
            "VisitorInformation",
            new { pagenum= ((int)ViewData["pagenum"]-1)}
            )
        |
        @Html.ActionLink("Next",
            "List",
            "VisitorInformation",
            new { pagenum = ((int)ViewData["pagenum"] + 1) }
            )*@



    <!--Trying to Booetstrap-->
    <!--<table class="table">
        <thead>
            <tr>
                @*<th scope="col">No.</th>*@
                <th scope="col">Visitor Name</th>
                <th scope="col">Visiting Person Name</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var visitorinfo in Model)
            {
                <tr>
                    @*<th scope="row">@visitorinfo.VisitorID</th>*@
                    <td>@Html.ActionLink(visitorinfo.VisitorName, "Show/" + visitorinfo.VisitorID)</td>
                    @*<td>@visitorinfo.VisitorName</td>*@
                    <td>@visitorinfo.VisitingPersonName</td>
                    <td>@visitorinfo.Date.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
        -->


    @{
        /*
        //UserState
            //0 => No User
            //1 => has user has no admin
            //2 => has user has admin but no faqs
            //3 => has user has admin and at least 1 faq(post)
        */

        switch (ViewData["UserState"])
        {//case 0: @Html.ActionLink("Sign Up!", "Register", "Account"); break;
         //case 1: @Html.ActionLink("Join Us", "Admin", "Create"); break;
            case 2:
                <button class="btn btn-primary">
                    @Html.ActionLink("Add Visior Information", "New", "VisitorInformation")
                </button>
                <div>


                    <!--Pagination-->
                    @ViewData["PaginationSummary"]
                    @Html.ActionLink("Prev",
                        "List",
                        "VisitorInformation",
                        new { pagenum= ((int)ViewData["pagenum"]-1)}
                        )
                    |
                    @Html.ActionLink("Next",
                        "List",
                        "VisitorInformation",
                        new { pagenum = ((int)ViewData["pagenum"] + 1) }
                        )


                    <table class="table">
                        <thead>
                            <tr>
                                @*<th scope="col">No.</th>*@
                                <th scope="col">Visitor Name</th>
                                <th scope="col">Visiting Person Name</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var visitorinfo in Model)
                            {
                                <tr>
                                    @*<th scope="row">@visitorinfo.VisitorID</th>*@
                                    <td>@Html.ActionLink(visitorinfo.VisitorName, "Show/" + visitorinfo.VisitorID)</td>
                                    @*<td>@visitorinfo.VisitorName</td>*@
                                    <td>@visitorinfo.VisitingPersonName</td>
                                    <td>@visitorinfo.Date.ToShortDateString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                break;



            case 3:
                <button class="btn btn-primary">
                    @Html.ActionLink("Add Visior Information", "New", "VisitorInformation")
                </button>

                <div>


                    <!--Pagination-->
                    @ViewData["PaginationSummary"]
                    @Html.ActionLink("Prev",
                        "List",
                        "VisitorInformation",
                        new { pagenum= ((int)ViewData["pagenum"]-1)}
                        )
                    |
                    @Html.ActionLink("Next",
                        "List",
                        "VisitorInformation",
                        new { pagenum = ((int)ViewData["pagenum"] + 1) }
                        )


                    <table class="table">
                        <thead>
                            <tr>
                                @*<th scope="col">No.</th>*@
                                <th scope="col">Visitor Name</th>
                                <th scope="col">Visiting Person Name</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var visitorinfo in Model)
                            {
                                <tr>
                                    @*<th scope="row">@visitorinfo.VisitorID</th>*@
                                    <td>@Html.ActionLink(visitorinfo.VisitorName, "Show/" + visitorinfo.VisitorID)</td>
                                    @*<td>@visitorinfo.VisitorName</td>*@
                                    <td>@visitorinfo.VisitingPersonName</td>
                                    <td>@visitorinfo.Date.ToShortDateString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                break;
        }

    }

</div>


