﻿
@{
    ViewData["Title"] = "New";
}

<h2>New</h2>

<form method="POST" action="/VisitorInformation/New">
    <!--For AdminID as a Foreign Key-->
    <div>
        <input type="hidden" id="VisitorInfoAdmin_New" name="VisitorInfoAdmin_New" value="@ViewData["UserHasAdmin"]" />
    </div>

    <!--For Visitor Name-->
    <div>
        <label>Visitor Name:</label>
        <input id="VisitorName_New" name="VisitorName_New" />
    </div>

    <!--Visiting Person Name-->
    <div>
        <label>Visiting Person Name:</label>
        <input id="VisitingPersonName_New" name="VisitingPersonName_New" />
    </div>

    <!--Date-->
    <div>
        <label>Date:</label>
        <input type="datetime" id="Date_New" name="Date_New" />
    </div>

    <!--Time In-->
    <div>
        <label>Time In:</label>
        <input type="time" id="TimeIn_New" name="TimeIn_New" />
    </div>

    <!--I  put Time Out In Edit View after a visitor visited a person(Patient)-->
    <!--Time Out will appear in Edit View because user admin will not know time out time when visitingperson will leave -->
    <!-- <div>
           <label>Time Out:</label>
           <input type="time" id="TimeOut_New" name="TimeOut_New" />
       </div>
        -->
    <!--Submit Button-->
    <div>
        <input type="submit" value="Submit" />
    </div>

</form>