﻿@model http5204_aspcore_group5_r2.Models.VisitorInformation
@{
    ViewData["Title"] = "Show";
}

<h2>Show</h2>

<div class="box">
    <h3><label>Visitor Name:</label>@Model.VisitorName</h3>

    <p><label>Visiting Person Name:</label>@Model.VisitingPersonName</p>

    <p><label>Date:</label>@Model.Date.ToShortDateString()</p>

    <p><label>Time In:</label>@Model.TimeIn.ToShortTimeString()</p>

    <p><label>Time Out:</label>@Convert.ToDateTime(Model.TimeOut).ToShortTimeString()</p>

    <div>
        <div class="deletebtn">
            <button> @Html.ActionLink("Delete", "Delete/" + Model.VisitorID)</button>

        </div>
        <div class="editbtn">
            <button> @Html.ActionLink("Edit", "Edit/" + Model.VisitorID)</button>
        </div>
    </div>
</div>