﻿@model http5204_aspcore_group5_r2.Models.SendGift

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("Index", "sendGifts")">Admin Login</a>
<h2>Send Gift to your loved ones!!!</h2>
<hr />
<div class="page1">
    <img src="~/images/gifts/giftShop.jpg" alt="gifts" id="gift"/>
</div>
<div class="page2">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="senderFname" class="control-label"></label>
                <input asp-for="senderFname" class="form-control" />
                <span asp-validation-for="senderFname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="senderLname" class="control-label"></label>
                <input asp-for="senderLname" class="form-control" />
                <span asp-validation-for="senderLname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="patientName" class="control-label"></label>
                <input asp-for="patientName" class="form-control" />
                <span asp-validation-for="patientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="roomNo" class="control-label"></label>
                <input asp-for="roomNo" class="form-control" />
                <span asp-validation-for="roomNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amt" class="control-label"></label>
                <select name="amt" id="amt"  class="form-control">
                    
                    <option value="10">CAD $10</option>
                    <option value="20">CAD $20</option>
                    <option value="30">CAD $30</option>
                    <option value="40">CAD $40</option>
                </select>
                <span asp-validation-for="amt" class="text-danger"></span>
                @*<label asp-for="amt" class="control-label"></label>
        <input asp-for="amt" class="form-control" />
        <span asp-validation-for="amt" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="message" class="control-label"></label>
                <input asp-for="message" class="form-control" />
                <span asp-validation-for="message" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="AdminID" class="control-label"></label>
                <select asp-for="AdminID" class ="form-control" asp-items="ViewBag.AdminID"></select>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
   </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
