﻿@model http5204_aspcore_group5_r2.Models.SendGift

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SendGift</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.senderFname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.senderFname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.senderLname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.senderLname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.patientName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.patientName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.roomNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.roomNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.message)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Admin.AdminFName)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SendGiftID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
