﻿@model http5204_aspcore_group5_r2.Models.SendGift

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>SendGift</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SendGiftID" />
            <div class="form-group">
                <label asp-for="senderFname" class="control-label"></label>
                <input asp-for="senderFname" class="form-control" />
                <span asp-validation-for="senderFname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="senderLname" class="control-label"></label>
                <input asp-for="senderLname" class="form-control" />
                <span asp-validation-for="senderLname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="patientName" class="control-label"></label>
                <input asp-for="patientName" class="form-control" />
                <span asp-validation-for="patientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="roomNo" class="control-label"></label>
                <input asp-for="roomNo" class="form-control" />
                <span asp-validation-for="roomNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amt" class="control-label"></label>
                <input asp-for="amt" class="form-control" />
                <span asp-validation-for="amt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="message" class="control-label"></label>
                <input asp-for="message" class="form-control" />
                <span asp-validation-for="message" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="AdminID" class="control-label"></label>
                <select asp-for="AdminID" class="form-control" asp-items="ViewBag.AdminID"></select>
                <span asp-validation-for="AdminID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
