﻿@model IEnumerable<http5204_aspcore_group5_r2.Models.SendGift>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.senderFname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.senderLname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.patientName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.roomNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.amt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.message)
                @*</th>
            <th>
                @Html.DisplayNameFor(model => model.Admin)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        <div class="pagination">
            @ViewData["PaginationSummary"]
            @Html.ActionLink("Prev",
                "Index",
                "Appointments",
                new { pagenum= ((int)ViewData["pagenum"]-1)}
                )
            |
            @Html.ActionLink("Next",
                "Index",
                "Appointments",
                new { pagenum = ((int)ViewData["pagenum"] + 1) }
                )
        </div>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.senderFname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.senderLname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.patientName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.roomNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.amt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.message)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Admin.AdminFName)
                    </td>*@
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.SendGiftID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.SendGiftID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.SendGiftID">Delete</a>
                    </td>
                </tr>
             }
       
    </tbody>
</table>
