﻿@model http5204_aspcore_group5_r2.Models.SendGift
@{
    ViewData["Title"] = "ThanksMsg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmation Message</h2>

<h3> Thank You <strong> @Model.senderFname @Model.senderLname </strong> to send gift to @Model.patientName </h3>

       
    
