﻿@model http5204_aspcore_group5_r2.Models.FAQ
@{
    //ViewData["Title"] = "Edit";
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="POST" action="/FAQ/Edit/@Model.FAQQuestionID">
        <div>
            <input type="hidden" id="FAQAdmin" name="FAQAdmin" value="@Model.AdminID" />
        </div>


        <!--For Question-->
        <div>
            <label>Question:</label>
            <input type="text" id="FAQQuestionTitle" name="FAQQuestionTitle" value="@Model.FAQQuestionTitle" />
        </div>

        <!--For Answer-->
        <div>
            <div>Answer:</div>
            <textarea id="FAQAnswer" name="FAQAnswer">@Model.FAQAnswer</textarea>
        </div>

        <!--Submit Button-->
        <div>
            <input type="submit" value="Submit" />
        </div>


</form>