﻿@model IEnumerable<http5204_aspcore_group5_r2.Models.FAQ>
@{
    ViewData["Title"] = "List";
}

<h2>Frequently Asked Questions</h2>

@*<div class="addbtn">
    <button> @Html.ActionLink("Add FAQ", "New", "FAQ")</button>
</div>*@

<!--Add Button-->
@*<div class="link">
    <a href="@Url.Action("New", "FAQ")">
        <button class="btn btn-primary">
            Add FAQ
        </button>
    </a>
</div>*@

<!--This is for diffenet User States (EX. Only Admin User will see the Add FAQ Button )-->
<div>

    @{
        /*
        //UserState
            //0 => No User
            //1 => has user has no admin
            //2 => has user has admin but no faqs
            //3 => has user has admin and at least 1 faq(post)
        */

        switch (ViewData["UserState"])
        {
            //case 0: @Html.ActionLink("Sign Up!", "Register", "Account"); break;
            //case 1: @Html.ActionLink("Join Us", "Admin", "Create"); break;
            case 2:<button class="btn btn-primary">
                    @Html.ActionLink("Add FAQ", "New", "FAQ")
                   </button>; break; 
            case 3: <button class="btn btn-primary">
                     @Html.ActionLink("Add FAQ", "New", "FAQ")
                    </button>; break;
        }

    }
</div>


<div class="page-wrapper">
    <!--Pagination-->
    @ViewData["PaginationSummary"]
    @Html.ActionLink("Prev",
        "List",
        "FAQ",
        new { pagenum= ((int)ViewData["pagenum"]-1)}
        )
    |
    @Html.ActionLink("Next",
        "List",
        "FAQ",
        new { pagenum = ((int)ViewData["pagenum"] + 1) }
        )

    @foreach (var faq in Model)
    {
    <div class="block">


        @if (!string.IsNullOrEmpty(faq.FAQQuestionTitle))
        {<!--I made changes bcoz of error which shows Null or Empty Value so, here Reference: https://www.codeproject.com/Questions/1201350/Value-cannot-be-null-or-empty-in-actionlink-->

            <div class="title"><label>@Html.ActionLink(faq.FAQQuestionTitle, "Show/" + faq.FAQQuestionID)</label></div>}

            <div class="body-content">
                <p>@faq.FAQAnswer</p>
                
                <!--Margi changed for Edit and Delete button FAQ for that Admin on List Page-->
                @if (faq.AdminID == (int)ViewData["UserHasAdmin"])
                {
                    <div class="del">
                        <a href="@Url.Action("Delete" , "FAQ", new { id = faq.FAQQuestionID })"><i class="far fa-trash-alt"></i></a>
                    </div>
                    <div>
                        <a href="@Url.Action("Edit" , "FAQ", new { id = faq.FAQQuestionID })"><i class="far fa-edit"></i></a>
                        @*@Html.ActionLink("Edit", "Edit/" + faq.FAQQuestionID)*@
                    </div>
                }

                @*<span>

            @Html.ActionLink("Delete", "Delete/" + faq.FAQQuestionID)

        </span>
        <div>

            @Html.ActionLink("Edit", "Edit/" + faq.FAQQuestionID)
        </div>*@
            </div>


    </div>
    }
</div>
