﻿
@{
    ViewData["Title"] = "New";
}

<h2>New</h2>

<form method="POST" action="/FAQ/New">
    <!--For AdminID as a Foreign Key-->
    <div>
        <input type="hidden" id="FAQAdmin_New" name="FAQAdmin_New" value="@ViewData["UserHasAdmin"]" />
    </div>

    <!--For Question-->
    <div>
        <label>Question:</label>
        <input id="FAQQuestionTitle_New" name="FAQQuestionTitle_New" />
    </div>

    <!--For Answer-->
    <div>
        <div>Answer:</div>
        <textarea id="FAQAnswer_New" name="FAQAnswer_New"></textarea>
    </div>

    <!--Submit Button-->
    <div>
        <input type="submit" value="Submit" />
    </div>

</form>