﻿@model http5204_aspcore_group5_r2.Models.FAQ

@{
    // ViewData["Title"] = "Show";
    ViewBag.Title = "Show";
}

<h2>Show</h2>



<h3>@Model.FAQQuestionTitle</h3>

<p>@Model.FAQAnswer</p>

@*<div>
        <div class="editbtn">

            <button>  @Html.ActionLink("Edit", "Edit/" + Model.FAQQuestionID) </button>


        </div>
        <div class="deletebtn">

            <button> @Html.ActionLink("Delete", "Delete/" + Model.FAQQuestionID)</button>
        </div>
    </div>*@
<!--Christine Page-Show part-->
@*<div class="promptlink">
        @{
            if ((bool)ViewData["IsUserFaqOwner"])
            {
                @Html.ActionLink("Edit", "Edit", "FAQ", new { id = Model.FAQQuestionID });
            }
        }
    </div>*@

<!--Christine Blog-Show part-->

<div>
    @{ //variable declaration id (will put user auth id into here)
        int id = 0;
    }
    @{
        if ((bool)ViewData["IsUserFaqOwner"])
        {
            <div class="editbtn">
                <button>  @Html.ActionLink("Edit", "Edit", "FAQ", new { id = Model.FAQQuestionID })</button> <!--for edit faq by only faq owner-->
            </div>
            <div class="deletebtn">
                <button>  @Html.ActionLink("Delete", "Delete", "FAQ", new { id = Model.FAQQuestionID })</button> <!--for delete faq by only faq owner-->
            </div>
        }

    }

</div>