﻿@model http5204_aspcore_group5_r2.Models.Donations

@{
    ViewData["Title"] = "Edit";
}
<div class="page-banner">
    <div class="title-container">
        <h1>Edit your plan</h1>
    </div>
</div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="POST" action="/Donations/Edit/@Model.DonationID">
                <input type="hidden" name="donorID" value="@Model.AdminID" />
                <div class="form-group">
                    <label class="">Firstname</label>
                    <input id="donorFName" class="form-control" name="donorFName" value="@Model.DonationFName" />
                </div>
                <div class="form-group">
                    <label class="">Last Name</label>
                    <input id="donorLName" class="form-control" name="donorLName" value="@Model.DonationLName" />
                </div>
                <div class="form-group">
                    <label class="">Email</label>
                    <input type="email" id="donorEmail" class="form-control" name="donorEmail" value="@Model.DonationEmail" />
                </div>
                <div class="form-group">
                    <label class="">Donation Plan</label>
                    <select id="donationPlan" class="form-control" name="donationPlan" value="@Model.DonationPlan">
                        <option value="Monthly">Monthly</option>
                        <option value="Annually">Annually</option>
                        <option value="One-time">One-time</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="">Donation Amount</label>
                    <input id="donationAmount" name="donationAmount"  class="form-control" value="@Model.DonationAmount" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="@Url.Action("List")">Back to List</a>
    </div>
    </div>

    