﻿@model IEnumerable<http5204_aspcore_group5_r2.Models.Donations>

@{
    ViewData["Title"] = "List";
}


<h2>Donations</h2>

<a href="@Url.Action("New")">Donate Today</a>


<table class="table table-hover">
    <thead class="blue-head">
        <tr>
            <th scope="col"> @Html.DisplayNameFor(model => model.DonationFName)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.DonationLName)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.DonationEmail)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.DonationPlan)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.DonationAmount)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var donation in Model)
        {

            <tr>
                <td>@donation.DonationFName</td>
                <td>@donation.DonationLName</td>
                <td>@donation.DonationEmail</td>
                <td>@donation.DonationPlan</td>
                <td>@donation.DonationAmount</td>

                <td>
                    <a class="btn btn-link" href="@Url.Action("Edit/" + donation.DonationID)">Edit</a>
                    <a class="btn btn-link" href="@Url.Action("Delete/" + donation.DonationID)">Delete</a>
                </td>
            </tr>

        }

    </tbody>

</table>


<div>
    @ViewData["Pagination"]
    @Html.ActionLink("Prev",
          "List",
          "Donations",
          new { pagenum= ((int) ViewData["pagenum"]-1)}
          )
    |
    @Html.ActionLink("Next",
        "List",
        "Donations",
        new { pagenum = ((int)ViewData["pagenum"] + 1) }
        )
</div>
