﻿@model IEnumerable<http5204_aspcore_group5_r2.Models.Donations>
@{
    ViewBag.Title = "New";
}

<div class="page-banner">
    <div class="title-container">
        <h1>Donate Today</h1>
        <p>Every little bit counts</p>
    </div>
</div>

<h1>New Donation</h1>
<form method="post" action="/Donations/Create">
    <input type="hidden" id="donorID" name="donorID" value="@ViewData["adminid"]" />
    <div class="row">
        <div class="col-sm-8">
            <label class="">Firstname</label>
            <input id="donorFName" class="form-control" name="donorFName" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <label class="">Last Name</label>
            <input id="donorLName" class="form-control" name="donorLName" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <label class="">Email</label>
            <input type="email" class="form-control" id="donorEmail" name="donorEmail" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <label class="">Donation Plan</label>
            <select id="donationPlan" class="form-control" name="donationPlan">
                <option value="Monthly">Monthly</option>
                <option value="Annually">Annually</option>
                <option value="One-time">One-time</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <label class="">Donation Amount</label>
            <input id="donationAmount" class="form-control" name="donationAmount" />
        </div>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" id="newDonation" type="submit" value="Donate" />
    </div>
</form>
<a href="@Url.Action("List")">See your donations</a>
