﻿@model http5204_aspcore_group5_r2.Models.Admin

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<div>
    @{
        switch (ViewData["UserState"])
        {
            case 0: @Url.Action("~/Home/Index") break;
            case 1: @Url.Action("~/Home/Index") break;
        }
    }
</div>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Admin Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdminFName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminFName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminLName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminUsername)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
