﻿@model http5204_aspcore_group5_r2.Models.Admin

@{
    ViewBag.Title = "Details";
}
<h1 style="display:none;">The Associated User ID is @Model.UserID</h1>
<div>
    @{
        switch (ViewData["UserState"])
        {
            case 0: @Url.Action("~/Home/Index") break;
        case 1: @Url.Action("~/Home/Index") break;
}
    }
</div>
<div>
    @if ((string)ViewData["UserHasAdmin"] == "True")
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.AdminID })
    }
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<div>
    <div>
        <h2>@Model.AdminFName  @Model.AdminLName (@Model.AdminUsername)</h2>
    </div>

</div>

