﻿@model IEnumerable<http5204_aspcore_group5_r2.Models.Admin>

@{
    ViewData["Title"] = "List";
}

<h2>Admin Accounts</h2>

<div>
    @{

        // I know this makes no sense. I unfortunately was unable to achieve a proper, sensible implementation of admin accounts 
        // or ASP User Roles. It is otherwise functional.

        switch (ViewData["UserState"])
        {
            case 0: @Html.ActionLink("Register a Patient Online Service Account", "Register", "Account") break;
            case 1: @Html.ActionLink("Register Your Staff Account", "Create", "Admin") break;
            case 2: @Html.ActionLink("Register a Staff Account", "Create", "Admin") break;
        }
                }

    @{
        string id = "";
            }
            @if ((string)ViewData["UserHasAdmin"] == "False")
            {

            }
    else if ((string)ViewData["UserHasAdmin"] == "None")
    {

    }
    else
    {
       id = (string)ViewData["UserHasAdmin"];
    }

</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdminFName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminLName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminUsername)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdminFName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminLName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminUsername)
            </td>

            <td>
                @if (item.AdminID.ToString() == id)
                {
                @Html.ActionLink("Edit", "Edit", new { id = item.AdminID })
                    @Html.Raw(" | ")
                }
            @Html.ActionLink("Details", "Details", new { id = item.AdminID })
                @if (item.AdminID.ToString() == id)
                {
                @Html.Raw(" | ")
                    @Html.ActionLink("Delete", "Delete", new { id = item.AdminID })
                }
            </td>

        </tr>
    }

</table>
