﻿@model http5204_aspcore_group5_r2.Models.Careers

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Careers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="POST" action="/Careers/Edit/@Model.CareerID">
                <input type="hidden" name="CareerAdmin" value="@Model.AdminID" />
            <div class="form-group">
                <label class="">Title</label>
                <input id="NewCareerTitle" class="form-control" name="NewCareerTitle" value="@Model.CareerTitle"/>
            </div>
            <div class="form-group">
                <label class="">Description</label>
                <textarea id="NewCareerDesc" class="form-control" name="NewCareerDesc">@Model.CareerDesc</textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" id="editCareer" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

