﻿@model IEnumerable<http5204_aspcore_group5_r2.Models.Careers>
@{
    ViewBag.Title = "List";
}

<h1>Careers</h1>

<div>
    @Html.ActionLink("Create a Job Posting", "New")
</div>
<table class="table table-hover">
    <thead class="blue-head">
        <tr>
            <th scope="col"> @Html.DisplayNameFor(model => model.CareerTitle)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.CareerDepartment)</th>

            @{
                string id = "";
            }
            @if ((string)ViewData["UserHasAdmin"] == "True")
            {

                <th scope="col">@Html.DisplayNameFor(model => model.ResumeUpload)</th>
            }


            </tr>
    </thead>
    <tbody>

        @foreach (var Career in Model)
        {

        <tr>

            <td>@Career.CareerTitle</td>
            <td>@Career.CareerDepartment</td>
            @if ((string)ViewData["UserHasAdmin"] == "True" && Career.ResumeUpload != null)
            {
                <td>
                    <a href=@Url.Action("ViewCertificate", new { Career = @Career.ResumeUpload })>@Career.ResumeUpload</a>


                </td>
            }

            @if ((string)ViewData["UserHasAdmin"] == "True")
            {

                <td>
                    <a href="@Url.Action("Edit/" + @Career.CareerID)">Edit</a>
                    <a href="@Url.Action("Show/" + @Career.CareerID)">Details</a>
                    <a href="@Url.Action("Delete/" + @Career.CareerID)">Delete</a>
                </td>
            }
            else
            {

                <td>
                    <a href="@Url.Action("Show/" + @Career.CareerID)">Details</a>
                </td>


            }
        </tr>

    }

        </tbody>


    </table>

    <div>
        @ViewData["Pagination"]
        @Html.ActionLink("Prev",
              "List",
              "Careers",
              new { pagenum= ((int) ViewData["pagenum"]-1)}
              )

        @Html.ActionLink("Next",
            "List",
            "Careers",
            new { pagenum = ((int)ViewData["pagenum"] + 1) }
            )
    </div>