﻿@model IEnumerable<http5204_aspcore_group5_r2.Models.Careers>
@{
    ViewBag.Title = "New";
}

<div class="page-banner">
    <div class="title-container">
        <h1>Add New Job Posting</h1>
    </div>
</div>

<form method="post" action="/Careers/Create">

    <input type="hidden" id="CareerAdmin" class="form-control" name="CareerAdmin" value="@ViewData["UserHasAdmin"]" />


    <div class="row">
        <div class="col-sm-8">
            <label class="">Title</label>
            <input id="NewCareerTitle" class="form-control" name="NewCareerTitle" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <label class="">Department</label>
            <select id="Cdepartment" class="form-control" name="CareerDep">
                <option value="Emergency">Emergency</option>
                <option value="Intensive Care Unit">Intensive Care Unit</option>
                <option value="Psychiatric">Psychiatric</option>
                <option value="Radiology">Radiology</option>
                <option value="Maternity">Maternity</option>
                <option value="Neurology">Neurology</option>
                <option value="Rehabilitation">Rehabilitation</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <label class="">Description</label>
            <textarea id="NewCareerDesc" class="form-control" name="NewCareerDesc"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <label class="">Resume/Cover Letter</label>
            <input type="file" id="NewCareerDoc" name="NewCareerDoc" />
        </div>
    </div>

    <input type="submit" id="newCareer" class="btn btn-primary" value="Post" />
</form>

