﻿@model http5204_aspcore_group5_r2.Models.Careers

@{
    ViewData["Title"] = "Show";
}

<div class="page-control-j">
    <a class="backBtn" href="@Url.Action("List")">Back to Job Postings</a>
    <h2>@Model.CareerTitle</h2>

    <div id="messageContainer" class="container-fluid">@Model.CareerDesc</div>
    <div>
        @{
            string id = "";
        }
        @if ((string)ViewData["UserHasAdmin"] == "True")
        {
            <a class="btn btn-info" href="@Url.Action("Edit/" + @Model.CareerID)">Edit</a>
            <a class="btn btn-danger" href="@Url.Action("Delete/" + @Model.CareerID)">Delete</a>
        }


    </div>

    @*Apply for job*@
    <form method="post" action="/Careers/Create">
        <div class="row">
            <div class="col-sm-8">
                <label class="">Resume/Cover Letter</label>
                <input type="file" id="NewCareerDoc" name="NewCareerDoc" />
            </div>
        </div>

        <input type="submit" class="btn btn-outline-primary" value="Apply" />
    </form>
</div>